.s-blog.section.js-tabs 
  .container-wide 
    .s-blog__head 
      .blog-categories.js-tabs-controls 
        button(type="button" data-control="blog-1").blog-categories-item.is-active Новости
        button(type="button" data-control="blog-2").blog-categories-item Статьи
        button(type="button" data-control="blog-3").blog-categories-item Обзоры
      a.s-blog__show-more.btn-round(href="#") К архиву
    .s-blog__content.js-tabs-panel 
      .s-blog__list.is-open(data-content="blog-1") 
        a.blog-item(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
      .s-blog__list(data-content="blog-2")  
        a.blog-item(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
      .s-blog__list(data-content="blog-3")  
        a.blog-item(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область