.blog.section 
  .container 
    .blog__head 
      .blog__categories 
        button(type="button").blog__categories-item.is-active Новости
        button(type="button").blog__categories-item Статьи
        button(type="button").blog__categories-item Обзоры
      a.blog__show-more.btn-round(href="#") К архиву
    .blog__list 
      a.blog__item(href="#")
        picture.blog__item-img 
          source(srcset="./img/blog/blog-card.webp" type="image/webp")
          img(src="./img/blog/blog-card.webp", alt="")  
        .blog__item-date 04.11.2024
        .blog__item-title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
        .blog__item-desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
      a.blog__item(href="#")
        picture.blog__item-img 
          source(srcset="./img/blog/blog-card.webp" type="image/webp")
          img(src="./img/blog/blog-card.webp", alt="")  
        .blog__item-date 04.11.2024
        .blog__item-title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
        .blog__item-desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
      a.blog__item(href="#")
        picture.blog__item-img 
          source(srcset="./img/blog/blog-card.webp" type="image/webp")
          img(src="./img/blog/blog-card.webp", alt="")  
        .blog__item-date 04.11.2024
        .blog__item-title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
        .blog__item-desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
      a.blog__item(href="#")
        picture.blog__item-img 
          source(srcset="./img/blog/blog-card.webp" type="image/webp")
          img(src="./img/blog/blog-card.webp", alt="")  
        .blog__item-date 04.11.2024
        .blog__item-title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
        .blog__item-desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область