.blog {

  @include mq($ms) {
    display: none;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(30);
  }

  &__categories {
    display: flex;
    align-items: center;
    gap: rem(2);
    background-color: cl(gray-100);
    border-radius: rem(10);

    &-item {
      padding: rem(14) rem(24);
      font-size: rem(16);
      line-height: 1;
      border-radius: rem(10);

      &.is-active {
        background-color: cl(accent);
        color: cl(whte);
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(20);
  }

  &__item {
    padding: rem(14);
    border: 1px solid cl(border-100);
    border-radius: rem(14);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(16);

    &-img {
      display: block;
      width: 100%;

      img {
        display: block;
        width: 100%;
        border-radius: rem(2);
      }
    }

    &-date {
      font-size: rem(14);
    }

    &-title {
      font-size: rem(16);
      line-height: 1.3;
      font-weight: 600;
    }

    &-desc {
      font-size: rem(14);
      line-height: 1.2;
    }
  }
}