.cabinet {

  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    @include mq($ms) {
      flex-direction: column;
    }
  }

  &__aside {
    width: 334px;
    flex-shrink: 0;

    @include mq($mt) {
      width: 280px;
    }

    @include mq($ms)  {
      width: 100%;
    }
  }

  &__content {
    width: 100%;
    height: auto;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.cabinet-nav {
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--color-gray-100); 

  &__title {
    font-size: 14px;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    @include mq($ms)  {
      display: block;
      column-count: 2;
    }
  }

  &__section {

    @include mq($m) {
      break-inside: avoid;

      + .cabinet-nav__section {
        margin-top: 24px;
      }
    }

    &-title {
      line-height: 1;
      color: var(--color-gray-500);
      margin-bottom: 14px;

      @include mq($m)  {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    @include mq($m)  {
      font-size: 14px;
    }

    @media(any-hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }

    span {
      width: 18px;
      height: 18px;
      font-size: 10px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 50%;
      background-color: var(--color-accent);
      color: var(--color-whte);
    }
  }
}

.cabinet-main {

  &__section {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 24px;
    }
  }
}

.cabinet-main-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  @include mq($m) {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

.cabinet-main-card {
  padding: 16px;
  border: 1px solid var(--color-border-100);
  border-radius: 12px;
  min-height: 150px;
  background-color: var(--color-whte);

  @include mq($m)  {
    height: 80px;
  }

  &__title {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
    
    &::before {
      content: '';
      width: 28px;
      height: 28px;
      mask: var(--icon) center center/contain no-repeat;
      -webkit-mask: var(--icon) center center/contain no-repeat;
      background-color: currentColor;
    }
  }

  &__count {
    color: var(--color-gray-500)
  }
}

.cabinet-main-rows {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @include mq($m)  {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

.cabinet-main-row {
  padding: 24px;
  border: 1px solid var(--color-border-100);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 94px;

  @include mq($m)  {
    border-radius: 10px;
    padding: 16px;
    height: 64px;
  }

  &__title {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      mask: var(--icon) center center/contain no-repeat;
      -webkit-mask: var(--icon) center center/contain no-repeat;
      background-color: currentColor;
    }
  }

  &__count {
    font-size: 14px;
  }
}

.cabinet-active-order {
  display: flex;
  align-items: stretch;
  gap: 16px;

  &__img {
    display: block;
    width: 112px;
    height: 84px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      border: 1px solid var(--color-border-100);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
  }

  &__num {
    font-weight: 600;
  }

  &__link {
    font-size: 14px;
    color: var(--color-accent);
    border-bottom: 1px solid currentColor;

    @media(any-hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.cabinet-section {
  padding: 24px;
  border: 1px solid var(--color-border-100);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;

  @include mq($m)  {
    padding: 16px;
    border-radius: 10px;
  }

  &__head {
    font-size: 24px;
    font-weight: 700;

    span {
      font-size: 14px;
      position: relative;
      top: -8px;
    }
  }

  &__content {
    height: 100%;
  }
}

.cabinet-control-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.cabinet-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.cabinet-search {
  width: 100%;

  &__input {
    width: 100%;
    padding-right: 40px;
    background-image: url('../img/icons/zoom.svg');
    background-position: center right 16px;
    background-repeat: no-repeat;
    background-size: 16px;
  }
}

.cabinet-control-select {
  position: relative;
  cursor: pointer;

  select {
    position: relative;
    font-size: 14px;
    padding: 10px 0px 10px 36px;
    background-color: var(--color-gray-100);
    border-radius: 4px;  
    cursor: pointer;
  }

  &::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: url('../img/icons/arrow-dropdown.svg') center center/contain no-repeat;
    left: 16px;
    top: 14px;
    z-index: 1;
  }

  &::after {
    position: absolute;
    content: '';
    background-color: var(--color-gray-100);
    width: 20px;
    height: 20px;
    top: 10px;
    right: 2px;
    z-index: 1;
  }
}

.cabinet-control-btn {
  font-size: 14px;
  padding: 10px 16px;
  background-color: var(--color-gray-100);
  border-radius: 4px;
  border: none;
  outline: none;
  color: var(--color-blck);
  cursor: pointer;
  transition: 0.25s ease-in-out;

  @media(any-hover: hover) {
    &:hover {
      background-color: var(--color-accent);
      color: var(--color-whte)
    }
  }
}

.cabinet-orders-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cabinet-order-item {
  padding: 24px 32px;
  border: 1px solid var(--color-border-100);
  border-radius: 16px;

  @include mq($m) {
    padding: 20px 16px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-border-100);

    @include mq($m) {
      margin-bottom: 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;

    @include mq($m) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }

  &__status {
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    background-color: var(--color-success);
    color: var(--color-whte);

    &--canceled {
      background-color: #838383;
    }
  }

  &__gallery {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__img {
    display: block;
    max-width: 112px;
    width: 100%;

    img {
      display: block;
      width: 100%;
      border-radius: 6px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  &__num {
    font-size: 20px;
    font-weight: 700;
  }

  &__date {
    color: #838383;
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__payment-status {
    font-size: 14px;
  }

  &__price {
    font-weight: 700;
  }
}

.cabinet-history-item {
  padding: 24px 32px;
  border: 1px solid var(--color-border-100);
  border-radius: 16px;

  @include mq($m) {
    padding: 20px 16px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-border-100);

    @include mq($m) {
      margin-bottom: 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;

    @include mq($m) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
  }

  &__gallery {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__img {
    display: block;
    max-width: 112px;
    width: 100%;

    img {
      display: block;
      width: 100%;
      border-radius: 6px;
    }
  }

  &__num {
    font-size: 20px;
    font-weight: 700;
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &__detail {
    font-size: 14px;
  }

  &__price {
    font-weight: 700;
  }
}

.cabinet-empty {
  width: 100%;
  height: 100%;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;

    @include mq($ms) {
      padding: 32px 0;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
  }
}

.cabinet-companies-add {
  width: 100%;
  height: 100%;

  &__form {
    max-width: 300px;
    width: 100%;
  }

  &__input {
    width: 100%;
  }
}

.cabinet-companies-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include mq($ms) {
    grid-template-columns: 1fr;
  }
}

.cabinet-companies-item {
  position: relative;
  padding: 24px 40px 24px 24px;
  border-radius: 16px;
  border: 1px solid var(--color-border-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  &__menu-btn {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 16px;
    cursor: pointer;

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      mask: url('../img/icons/dots-menu.svg') center center/contain no-repeat;
      -webkit-mask: url('../img/icons/dots-menu.svg') center center/contain no-repeat;
      background-color: currentColor;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  &__detail {

    &:nth-of-type(3n) {
      grid-column: span 2;
    }
  }
}