.compare {

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 40px;
  }
  
  &__title {
    font-size: 28px;
    font-weight: 700;
  }

  &__main {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-border-100);

    &-controls {
      display: flex;
      align-items: center;
      gap: 12px;
      flex-wrap: wrap;
      margin-bottom: 24px;
    }

    &-content {
      position: relative;
    }

    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      width: 40px;
      height: 40px;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    &-prev {
      left: -20px;
    }

    &-next {
      right: -20px;
    }
  }

  &__info {
    margin-bottom: 40px;

    &-title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    &-text {
      width: 100%;
      padding: 24px 20px;
      background-color: var(--color-gray-100);
      border-radius: 16px;
    }
  }

  &__section { 

    + .compare__section {
      margin-top: 40px;
    }

    &-head {
      margin-bottom: 24px;
      padding-bottom: 16px;
      font-size: 18px;
      font-weight: 700;
      border-bottom: 1px solid var(--color-border-100);
    }

    &-controls {
      display: flex;
      align-items: center;
      gap: 16px;
      flex-wrap: wrap;
      margin-bottom: 24px;
    }

    &-body {
      width: 100%;
      overflow: hidden;
      margin-bottom: 24px;
    }
  }
}

.compare-slider {
  width: 100%;
  overflow: hidden;
}

.compare-img {
  display: block;
  width: 100%;

  img {
    display: block;
    width: 100%;
    border-radius: 4px;
  }
}

.compare-reviews {
  display: flex;
  align-items: center;
  gap: 16px;

  &__rating {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.form-radio {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + label {

      &::before {
        border-width: 4px;
        border-color: var(--color-accent);
      }
    }
  }

  label {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    &::before {
      box-sizing: border-box;
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid var(--color-gray-200);
      flex-shrink: 0;
    }
  }
}


.form-checkbox {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + label {

      &::after {
        opacity: 1;
      }
    }
  }

  label {
    display: inline-flex;
    align-items: center;
    padding-left: 32px;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      box-sizing: border-box;
      display: block;
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: 1px solid var(--color-gray-200);
      flex-shrink: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 6px;
      transform: rotate(-45deg);
      border-bottom: 2px solid var(--color-accent);
      border-left: 2px solid var(--color-accent);
      opacity: 0;
    }
  }
}