.geography {
  padding: 0 !important;

  @include mq($ms) {
    display: none;
  }

  &__wrapper {
    background-color: cl(gray-200);
    padding: 70px 0;
  }

  &__inner {
    position: relative;
  }

  &__title {
    position: absolute;
    left: 0;
    top: 32px;
  }
}