.geography.section
  .geography__wrapper
    .container 
      .geography__inner
        .geography__title.heading-title.h2 География поставок
        picture.geography__img 
          source(srcset="./img/geography/geography.webp", type="image/webp")
          img(src="./img/geography/geography.webp", alt="")