.consultation-order.section 
  .container-wide 
    .consultation-order__inner 
      .consultation-order__title Оставьте заявку
      .consultation-order__subtitle чтобы получить консультацию
      form.consultation-order__form(action="#")
        input.consultation-order__form-input(type="text" placeholder="Имя") 
        input.consultation-order__form-input(type="text" placeholder="Телефон") 
        button(type="submit").consultation-order__form-submit.btn.btn--xl Отправить