section.more-articles.section 
  .container-wide 
    .more-articles__title Больше статей
    .more-articles__slider.js-more-articles-slider
      .swiper-wrapper 
        a.blog-item.swiper-slide(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item.swiper-slide(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item.swiper-slide(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item.swiper-slide(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item.swiper-slide(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        a.blog-item.swiper-slide(href="#")
          picture.blog-item__img 
            source(srcset="./img/blog/blog-card.webp" type="image/webp")
            img(src="./img/blog/blog-card.webp", alt="")  
          .blog-item__date 04.11.2024
          .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
          .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область