.catalog-faq
  .catalog-faq__title Ответы на популярные вопросы 
  .catalog-faq__list.faq-list
    .faq-item 
      .faq-item__head.accordion-item 
        .faq-item__title Какие виды спецтехники используются в дорожном строительстве?
        .faq-item__icon 
      .faq-item__body.accordion-content 
        p Несмотря на то, что наш основной офис расположен в Санкт-Петербурге, 
          | мы охватываем все регионы, предлагая быструю и бесплатную доставку 
          | по России коммунальной техники до вашего адреса, делая 
          | процесс приобретения максимально удобным и доступным. Не упустите свой шанс 
          | купить коммунальную технику или на выгодных условиях 
          | приобрести необходимую технику для уборки улиц и поддержания чистоты в ваших 
          | населённых пунктах. Звоните нам прямо сейчас или оставьте заявку на нашем сайте — мы всегда 
          | готовы помочь!
    .faq-item 
      .faq-item__head.accordion-item
        .faq-item__title Где можно недорого приобрести надежную дорожно-строительную технику?
        .faq-item__icon 
      .faq-item__body.accordion-content
        p Несмотря на то, что наш основной офис расположен в Санкт-Петербурге, 
          | мы охватываем все регионы, предлагая быструю и бесплатную доставку 
          | по России коммунальной техники до вашего адреса, делая 
          | процесс приобретения максимально удобным и доступным. Не упустите свой шанс 
          | купить коммунальную технику или на выгодных условиях 
          | приобрести необходимую технику для уборки улиц и поддержания чистоты в ваших 
          | населённых пунктах. Звоните нам прямо сейчас или оставьте заявку на нашем сайте — мы всегда 
          | готовы помочь!
    .faq-item 
      .faq-item__head.accordion-item 
        .faq-item__title Какое назначение имеет специальная дорожно-строительная техника?
        .faq-item__icon 
      .faq-item__body.accordion-content 
        p Несмотря на то, что наш основной офис расположен в Санкт-Петербурге, 
          | мы охватываем все регионы, предлагая быструю и бесплатную доставку 
          | по России коммунальной техники до вашего адреса, делая 
          | процесс приобретения максимально удобным и доступным. Не упустите свой шанс 
          | купить коммунальную технику или на выгодных условиях 
          | приобрести необходимую технику для уборки улиц и поддержания чистоты в ваших 
          | населённых пунктах. Звоните нам прямо сейчас или оставьте заявку на нашем сайте — мы всегда 
          | готовы помочь!
    .faq-item 
      .faq-item__head.accordion-item 
        .faq-item__title Почему важно выбирать технику ведущих производителей?
        .faq-item__icon 
      .faq-item__body.accordion-content 
        p Несмотря на то, что наш основной офис расположен в Санкт-Петербурге, 
          | мы охватываем все регионы, предлагая быструю и бесплатную доставку 
          | по России коммунальной техники до вашего адреса, делая 
          | процесс приобретения максимально удобным и доступным. Не упустите свой шанс 
          | купить коммунальную технику или на выгодных условиях 
          | приобрести необходимую технику для уборки улиц и поддержания чистоты в ваших 
          | населённых пунктах. Звоните нам прямо сейчас или оставьте заявку на нашем сайте — мы всегда 
          | готовы помочь!
    .faq-item 
      .faq-item__head.accordion-item 
        .faq-item__title Как выбрать подходящую технику для строительства дорог в городе?
        .faq-item__icon 
      .faq-item__body.accordion-content 
        p Несмотря на то, что наш основной офис расположен в Санкт-Петербурге, 
          | мы охватываем все регионы, предлагая быструю и бесплатную доставку 
          | по России коммунальной техники до вашего адреса, делая 
          | процесс приобретения максимально удобным и доступным. Не упустите свой шанс 
          | купить коммунальную технику или на выгодных условиях 
          | приобрести необходимую технику для уборки улиц и поддержания чистоты в ваших 
          | населённых пунктах. Звоните нам прямо сейчас или оставьте заявку на нашем сайте — мы всегда 
          | готовы помочь!
    .faq-item 
      .faq-item__head.accordion-item 
        .faq-item__title Где можно купить дорожно-строительную технику любого вида?
        .faq-item__icon 
      .faq-item__body.accordion-content 
        p Несмотря на то, что наш основной офис расположен в Санкт-Петербурге, 
          | мы охватываем все регионы, предлагая быструю и бесплатную доставку 
          | по России коммунальной техники до вашего адреса, делая 
          | процесс приобретения максимально удобным и доступным. Не упустите свой шанс 
          | купить коммунальную технику или на выгодных условиях 
          | приобрести необходимую технику для уборки улиц и поддержания чистоты в ваших 
          | населённых пунктах. Звоните нам прямо сейчас или оставьте заявку на нашем сайте — мы всегда 
          | готовы помочь!
    .faq-item 
      .faq-item__head.accordion-item 
        .faq-item__title В каких случаях требуется покупка спецтехники?
        .faq-item__icon 
      .faq-item__body.accordion-content 
        p Несмотря на то, что наш основной офис расположен в Санкт-Петербурге, 
          | мы охватываем все регионы, предлагая быструю и бесплатную доставку 
          | по России коммунальной техники до вашего адреса, делая 
          | процесс приобретения максимально удобным и доступным. Не упустите свой шанс 
          | купить коммунальную технику или на выгодных условиях 
          | приобрести необходимую технику для уборки улиц и поддержания чистоты в ваших 
          | населённых пунктах. Звоните нам прямо сейчас или оставьте заявку на нашем сайте — мы всегда 
          | готовы помочь!
    .faq-item 
      .faq-item__head.accordion-item 
        .faq-item__title Как быстро можно получить спецтехнику после заказа?
        .faq-item__icon 
      .faq-item__body.accordion-content 
        p Несмотря на то, что наш основной офис расположен в Санкт-Петербурге, 
          | мы охватываем все регионы, предлагая быструю и бесплатную доставку 
          | по России коммунальной техники до вашего адреса, делая 
          | процесс приобретения максимально удобным и доступным. Не упустите свой шанс 
          | купить коммунальную технику или на выгодных условиях 
          | приобрести необходимую технику для уборки улиц и поддержания чистоты в ваших 
          | населённых пунктах. Звоните нам прямо сейчас или оставьте заявку на нашем сайте — мы всегда 
          | готовы помочь!
