.busines-advantages.busines-section
  .busines-advantages__inner 
    .busines-advantages__head 
      .busines-advantages__title.h2 Дорожный Бизнес с «Ремонт Ям» - это надёжно
      .busines-advantages__desc В течение целого года Ремонт Ям осуществляет полное сопровождение на всех этапах развития Вашего бизнеса
    .busines-advantages__list 
      .busines-advantages__item 
        .busines-advantages__item-num 1
        .busines-advantages__item-info 
          .busines-advantages__item-title Быстрая окупаемость
          .busines-advantages__item-desc Высокий доход при минимальных вложениях. Себестоимость 1 м2 ремонта асфальта — 400 рублей, при рыночной стоимости ремонта 1500 рублей за 1 м2.
      .busines-advantages__item 
        .busines-advantages__item-num 2
        .busines-advantages__item-info 
          .busines-advantages__item-title Отсутствие конкурентов
          .busines-advantages__item-desc Технология термопрофилирования — это ниша, которая позволяет ремонтировать небольшие участки асфальта с минимальными затратами и максимальной прибылью.
      .busines-advantages__item 
        .busines-advantages__item-num 3
        .busines-advantages__item-info 
          .busines-advantages__item-title Постоянное наличие клиентов
          .busines-advantages__item-desc Ежегодно требуется отремонтировать более 100 000 кв.м. асфальтовых дорог и дворовых территорий.
      .busines-advantages__item 
        .busines-advantages__item-num 4
        .busines-advantages__item-info 
          .busines-advantages__item-title Легкий выход на рынок по ремонту дорог
          .busines-advantages__item-desc Приобретая любой комплекс оборудования, вы становитесь компанией, оказывающей полный спектр услуг по ремонту дорог