.busines-faq.busines-section
  .busines-faq__title.h3 Частые вопросы и ответы
  .busines-faq__list 
    .faq-item 
      .faq-item__head.accordion-item 
        .faq-item__title 1. Где взять клиентов?
        .faq-item__icon 
      .faq-item__body.accordion-content 
        p Несмотря на то, что наш основной офис расположен в Санкт-Петербурге, 
          | мы охватываем все регионы, предлагая быструю и бесплатную доставку 
          | по России коммунальной техники до вашего адреса, делая 
          | процесс приобретения максимально удобным и доступным. Не упустите свой шанс 
          | купить коммунальную технику или на выгодных условиях 
          | приобрести необходимую технику для уборки улиц и поддержания чистоты в ваших 
          | населённых пунктах. Звоните нам прямо сейчас или оставьте заявку на нашем сайте — мы всегда 
    .faq-item 
      .faq-item__head.accordion-item 
        .faq-item__title 2. Какой комплект оборудования лучше выбрать?
        .faq-item__icon 
      .faq-item__body.accordion-content 
        p Несмотря на то, что наш основной офис расположен в Санкт-Петербурге, 
          | мы охватываем все регионы, предлагая быструю и бесплатную доставку 
          | по России коммунальной техники до вашего адреса, делая 
          | процесс приобретения максимально удобным и доступным. Не упустите свой шанс 
          | купить коммунальную технику или на выгодных условиях 
          | приобрести необходимую технику для уборки улиц и поддержания чистоты в ваших 
          | населённых пунктах. Звоните нам прямо сейчас или оставьте заявку на нашем сайте — мы всегда 
    .faq-item 
      .faq-item__head.accordion-item 
        .faq-item__title 3. Что из себя представляет технология термопрофилирования?
        .faq-item__icon 
      .faq-item__body.accordion-content 
        p Несмотря на то, что наш основной офис расположен в Санкт-Петербурге, 
          | мы охватываем все регионы, предлагая быструю и бесплатную доставку 
          | по России коммунальной техники до вашего адреса, делая 
          | процесс приобретения максимально удобным и доступным. Не упустите свой шанс 
          | купить коммунальную технику или на выгодных условиях 
          | приобрести необходимую технику для уборки улиц и поддержания чистоты в ваших 
          | населённых пунктах. Звоните нам прямо сейчас или оставьте заявку на нашем сайте — мы всегда 