section.busines-benefits.section
  .container-wide 
    .busines-benefits__list 
      .busines-benefits__item 
        .busines-benefits__item-icon 
          img(src="./img/busines/benefit-01.svg", alt="")
        .busines-benefits__item-title 
          span Отсутствие конкурентов 
          br
          | в технологии термопрофилирования
      .busines-benefits__item 
        .busines-benefits__item-icon 
          img(src="./img/busines/benefit-02.svg", alt="")
        .busines-benefits__item-title 
          span Быстрая окупаемость за 1 
          br
          | месяц при минимальных вложениях
      .busines-benefits__item 
        .busines-benefits__item-icon 
          img(src="./img/busines/benefit-03.svg", alt="")
        .busines-benefits__item-title Постоянное 
          br
          span наличие заказов
      .busines-benefits__item 
        .busines-benefits__item-icon 
          img(src="./img/busines/benefit-04.svg", alt="")
        .busines-benefits__item-title Запуск бизнеса 
          br
          span «под ключ»