.busines-info.busines-section
  .busines-info__inner 
    .busines-info__services
      .busines-info__services-title 
        span Более 8+ услуг, 
        | которые Вы сможете предлагать клиентам в Дорожной сфере
      .busines-info__services-desc С оборудованием компании «Ремонт Ям» вы легко и качественно сможете оказывать следующие услуги:
      .busines-info__services-list 
        .busines-info__services-item 
          .busines-info__services-item-icon 
            img(src="./img/busines/service-icon-01.svg", alt="")
          .busines-info__services-item-title Ямочный ремонт дорожного полотна
        .busines-info__services-item
          .busines-info__services-item-icon 
            img(src="./img/busines/service-icon-02.svg", alt="")
          .busines-info__services-item-title Ремонт асфальта вокруг люков колодцев
        .busines-info__services-item
          .busines-info__services-item-icon 
            img(src="./img/busines/service-icon-03.svg", alt="")
          .busines-info__services-item-title Выравнивание вздутостей асфальта
        .busines-info__services-item
          .busines-info__services-item-icon 
            img(src="./img/busines/service-icon-04.svg", alt="")
          .busines-info__services-item-title Ремонт и герметизация асфальтовых трещин
        .busines-info__services-item
          .busines-info__services-item-icon 
            img(src="./img/busines/service-icon-05.svg", alt="")
          .busines-info__services-item-title Восстановление асфальта после прокладки инженерных коммуникаций
        .busines-info__services-item
          .busines-info__services-item-icon 
            img(src="./img/busines/service-icon-06.svg", alt="")
          .busines-info__services-item-title Ремонт покрытия на мостах и пандусах
        .busines-info__services-item
          .busines-info__services-item-icon 
            img(src="./img/busines/service-icon-07.svg", alt="")
          .busines-info__services-item-title Расплавление наледи в зимнее время
        .busines-info__services-item
          .busines-info__services-item-icon 
            img(src="./img/busines/service-icon-08.svg", alt="")
          .busines-info__services-item-title Расплавление наледи в зимнее время
    .busines-info__clients
      .busines-info__clients-banner 
        .busines-info__clients-banner-head Кто ваши
        .busines-info__clients-banner-title 
          span клиенты
          | для выполнения по ремонту дорог
        .busines-info__clients-banner-desc 4 основные категории клиентов, которым требуется ямочный ремонт
      .busines-info__clients-desc Вашими Заказчиками являются компании и предприятия,
        | имеющие собственные или подконтрольные участки асфальтовых дорог и заинтересованные в создании долговечных покрытий с наименьшими затратами на содержание.
      .busines-info__clients-list 
        .busines-info__clients-item 
          .busines-info__clients-item-title ТСЖ, ЖСК, Управляющие компании
          .busines-info__clients-item-desc Имеют подконтрольные участки, требующие постоянного выполнения ямочного ремонта;
        .busines-info__clients-item 
          .busines-info__clients-item-title Магазины, Торговые центры, Гипермаркеты
          .busines-info__clients-item-desc Парковочные зоны требующие ежегодного ремонта асфальтового покрытия
        .busines-info__clients-item 
          .busines-info__clients-item-title Заводы, предприятия
          .busines-info__clients-item-desc Собственные площади асфальтированных дорог, которые требуют периодического ремонта
        .busines-info__clients-item 
          .busines-info__clients-item-title ДРСУ, ДЭП, МБУ, ГУП Водоканал
          .busines-info__clients-item-desc Заключают Договоры с частными компаниями на обслуживание и содержание дорог