.busines-cases.busines-section
  .busines-cases__earnings 
    .busines-cases__earnings-head
      .busines-cases__earnings-title.h2 Рост выручки за год
      .busines-cases__earnings-desc на примере одного из наших офисов
    .busines-cases__earnings-graphic 
      img(src="./img/busines/case-graphic.webp", alt="")
  .busines-cases__orders
    .busines-cases__orders-head
      .busines-cases__orders-title.h2 Заявки 
        span на выполнение ямочного ремонта за май 2023
      .busines-cases__orders-desc Приведены примеры реальных заявок, полученных на почту нашей компании info@remontiam.ru
    .busines-cases__orders-slider.js-cases-order-slider
      .swiper-wrapper 
        .busines-cases__orders-item.swiper-slide 
          img(src="./img/busines/case-order.webp", alt="")
        .busines-cases__orders-item.swiper-slide 
          img(src="./img/busines/case-order.webp", alt="")
        .busines-cases__orders-item.swiper-slide 
          img(src="./img/busines/case-order.webp", alt="")
      .swiper-pagination
