.busines-section.busines-tariffs 
  .busines-tariffs__inner 
    .busines-tariffs__title 
      span Бизнес-пакеты 
      | от производителя Ремонт Ям
    .busines-tariffs__list 
      .busines-tariffs__item 
        picture.busines-tariffs__item-img 
          source(srcset="./img/busines/tariffs-01.webp" type="image/webp")
          img(src="./img/busines/tariffs-01.webp", alt="")
        .busines-tariffs__item-name Стартовый
        .busines-tariffs__item-desc 
          p Окупаемость: 
            span 1 месяц
          p Прибыль: 
            span 330 000 в месяц
        .busines-tariffs__item-price 299 000 ₽ 
        .busines-tariffs__item-btn.btn.btn--wide Подробнее
      .busines-tariffs__item 
        picture.busines-tariffs__item-img 
          source(srcset="./img/busines/tariffs-01.webp" type="image/webp")
          img(src="./img/busines/tariffs-01.webp", alt="")
        .busines-tariffs__item-name простой
        .busines-tariffs__item-desc 
          p Окупаемость: 
            span 2 месяца
          p Прибыль: 
            span 660 000 в месяц
        .busines-tariffs__item-price 998 000 ₽ 
        .busines-tariffs__item-btn.btn.btn--wide Подробнее
      .busines-tariffs__item 
        picture.busines-tariffs__item-img 
          source(srcset="./img/busines/tariffs-01.webp" type="image/webp")
          img(src="./img/busines/tariffs-01.webp", alt="")
        .busines-tariffs__item-name Классический
        .busines-tariffs__item-desc 
          p Окупаемость: 
            span 21 месяц
          p Прибыль: 
            span 990 000 в месяц
        .busines-tariffs__item-price 1 500 000 ₽ 
        .busines-tariffs__item-btn.btn.btn--wide Подробнее
      .busines-tariffs__item 
        picture.busines-tariffs__item-img 
          source(srcset="./img/busines/tariffs-01.webp" type="image/webp")
          img(src="./img/busines/tariffs-01.webp", alt="")
        .busines-tariffs__item-name Профессиоанальный
        .busines-tariffs__item-desc 
          p Окупаемость: 
            span 4 месяца
          p Прибыль: 
            span 990 000 в месяц
        .busines-tariffs__item-price 2 690 000 ₽ 
        .busines-tariffs__item-btn.btn.btn--wide Подробнее