.busines-section.busines-tariffs 
  .busines-tariffs__inner 
    .busines-tariffs__title 
      span Бизнес-пакеты 
      | от производителя Ремонт Ям
    .busines-tariffs__list 
      .busines-tariffs__item 
        picture.busines-tariffs__item-img 
          source(srcset="./img/busines/tariffs-01.webp" type="image/webp")
          img(src="./img/busines/tariffs-01.webp", alt="")
        .busines-tariffs__item-name Стартовый
        .busines-tariffs__item-desc 
          p Окупаемость: 1 месяц
          p Прибыль: 330 000 в месяц
        .busines-tariffs__item-price 299 000 ₽ 
        .busines-tariffs__item-btn.btn.btn--wide Подробнее
      .busines-tariffs__item 
        picture.busines-tariffs__item-img 
          source(srcset="./img/busines/tariffs-01.webp" type="image/webp")
          img(src="./img/busines/tariffs-01.webp", alt="")
        .busines-tariffs__item-name Стартовый
        .busines-tariffs__item-desc 
          p Окупаемость: 1 месяц
          p Прибыль: 330 000 в месяц
        .busines-tariffs__item-price 299 000 ₽ 
        .busines-tariffs__item-btn.btn.btn--wide Подробнее
      .busines-tariffs__item 
        picture.busines-tariffs__item-img 
          source(srcset="./img/busines/tariffs-01.webp" type="image/webp")
          img(src="./img/busines/tariffs-01.webp", alt="")
        .busines-tariffs__item-name Стартовый
        .busines-tariffs__item-desc 
          p Окупаемость: 1 месяц
          p Прибыль: 330 000 в месяц
        .busines-tariffs__item-price 299 000 ₽ 
        .busines-tariffs__item-btn.btn.btn--wide Подробнее
      .busines-tariffs__item 
        picture.busines-tariffs__item-img 
          source(srcset="./img/busines/tariffs-01.webp" type="image/webp")
          img(src="./img/busines/tariffs-01.webp", alt="")
        .busines-tariffs__item-name Стартовый
        .busines-tariffs__item-desc 
          p Окупаемость: 1 месяц
          p Прибыль: 330 000 в месяц
        .busines-tariffs__item-price 299 000 ₽ 
        .busines-tariffs__item-btn.btn.btn--wide Подробнее