section.busines-hero
  .container-wide 
    .busines-hero__inner 
      .busines-hero__info 
        .busines-hero__subtitle Откройте свой бизнес по ремонту дорог за 7 дней с доходностью
        .busines-hero__title 
          span от 330 000 ₽ 
          | в месяц 
        .busines-hero__benefits 
          .busines-hero__benefit 
            .busines-hero__benefit-icon 
              img(src="./img/busines/hero-icon-01.svg", alt="")
            .busines-hero__benefit-title Минимальные вложения: 
              span 299 999 ₽ 
          .busines-hero__benefit 
            .busines-hero__benefit-icon 
              img(src="./img/busines/hero-icon-02.svg", alt="")
            .busines-hero__benefit-title Минимальный доход: 
              span 330 000 ₽ 
          .busines-hero__benefit 
            .busines-hero__benefit-icon 
              img(src="./img/busines/hero-icon-03.svg", alt="")
            .busines-hero__benefit-title Минимальная окупаемость: 
              span 1 месяц 
        a.busines-hero__btn.btn(href="#") Узнать подробно
      picture.busines-hero__img 
        source(src="./img/busines/hero.webp" type="image/webp")
        img(src="./img/busines/hero.webp", alt="")