.busines-about.busines-section
  .busines-about__inner 
    .busines-about__info 
      .busines-about__title.h3 О компании «Ремонт Ям»
      .busines-about__desc Компания «Ремонт Ям» - это завод по производству дорожной техники предназначенной для текущего ремонта и содержания городских дорог, осуществляющая свою деятельность с 2010 года.
      .busines-about__subtitle Основное выпускаемое оборудование:
      .busines-about__list 
        ul
          li инфракрасные нагреватели асфальта
          li термос-бункеры
          li машины для ямочного ремонта на прицепе
          li рециклеры
          li котлы заливщики
          li кохеры
      .busines-about__text В производстве используются сертифицированные станки плазменной резки, гибочные, 
        | токарно-фрезерные, сверлильные станки, полуавтоматическое сварочное оборудование. 
        | Налаженные технологические процессы гарантируют быстрый выпуск безупречно работающей строительной техники.
    picture.busines-about__img 
      img(src="./img/busines/about.png", alt="")