.busines-calculator.busines-section 
  .busines-calculator__title.h2 Калькулятор дохода
  .busines-calculator__item 
    .busines-calculator__item-info 
      .busines-calculator__item-title 01. Ямочный ремонт асфальта
      .busines-calculator__item-desc (Количество отремонтированных квадратных метров за месяц)
    .busines-calculator__item-progress 
      .busines-calculator__item-progress-line
        .busines-calculator__item-progress-line-fill(style="--width: 50%;")
      .busines-calculator__item-progress-limits 
        .busines-calculator__item-progress-limit 300
        .busines-calculator__item-progress-limit 400
        .busines-calculator__item-progress-limit 500
        .busines-calculator__item-progress-limit 600
        .busines-calculator__item-progress-limit 700
        .busines-calculator__item-progress-limit 800
        .busines-calculator__item-progress-limit 900
        .busines-calculator__item-progress-limit 1000
    .busines-calculator__item-value Прибыль: 1 100 000 ₽
  .busines-calculator__item 
    .busines-calculator__item-info 
      .busines-calculator__item-title 02. Ремонт асфальтовых трещин
      .busines-calculator__item-desc (Количество отремонтированных трещин в асфальте в погонных метрах)
    .busines-calculator__item-progress 
      .busines-calculator__item-progress-line 
        .busines-calculator__item-progress-line-fill(style="--width: 70%;")
      .busines-calculator__item-progress-limits 
        .busines-calculator__item-progress-limit 300
        .busines-calculator__item-progress-limit 400
        .busines-calculator__item-progress-limit 500
        .busines-calculator__item-progress-limit 600
        .busines-calculator__item-progress-limit 700
        .busines-calculator__item-progress-limit 800
        .busines-calculator__item-progress-limit 900
        .busines-calculator__item-progress-limit 1000
    .busines-calculator__item-value Прибыль: 167 000 ₽
  .busines-calculator__total Итого: 1 267 000 ₽