.busines-section.busines-essense
  .busines-essense__inner 
    .busines-essense__head
      .busines-essense__title Суть бизнеса
      .busines-essense__desc Вы приобретаете готовый комплекс оборудования и зарабатываете на выполнении услуг по ямочному ремонту дорог
    .busines-essense__advantages 
      .busines-essense__advantage 
        .busines-essense__advantage-icon
          img(src="./img/busines/essense-icon-01.svg", alt="")
        .busines-essense__advantage-title Покупка "бизнес-пакета"
        .busines-essense__advantage-desc Выбираете комплекс оборудования исходя из Вашего бюджета и объема дорожных работ
      .busines-essense__advantage 
        .busines-essense__advantage-icon
          img(src="./img/busines/essense-icon-02.svg", alt="")
        .busines-essense__advantage-title Выполнение услуг
        .busines-essense__advantage-desc Выполняете ямочные ремонты на территориях: ТСЖ, ЖСК, УК, Дворов, Торговых центров, Городских предприятий и других
      .busines-essense__advantage 
        .busines-essense__advantage-icon
          img(src="./img/busines/essense-icon-03.svg", alt="")
        .busines-essense__advantage-title Получение прибыли
        .busines-essense__advantage-desc Фиксируете прибыль на разнице между себестоимостью ямочного ремонта 400 р/м2 и его рыночной ценой 1500 р/м2
