section.busines-sections.section
  .container-wide 
    .busines-sections__inner
      .busines-sections__nav 
        a(href="#").busines-sections__nav-item._is-active Суть бизнеса
        a(href="#").busines-sections__nav-item Бизнес-пакеты
        a(href="#").busines-sections__nav-item Фото бизнес-пакетов
        a(href="#").busines-sections__nav-item Услуги и клиенты
        a(href="#").busines-sections__nav-item Кейсы
        a(href="#").busines-sections__nav-item Калькулятор дохода
        a(href="#").busines-sections__nav-item Преимущества
        a(href="#").busines-sections__nav-item О компании
        a(href="#").busines-sections__nav-item Частые вопросы
      .busines-sections__list 
        include busines-essense
        include busines-tariffs
        include busines-preview
        include busines-order
        include busines-info
        include busines-cases
        include busines-calculator
        include busines-advantages
        include busines-about
        include busines-gallery
        include busines-faq
        include busines-order