section.blog 
  .container-wide 
    .blog__nav 
      a(href="#").blog-categories-item.is-active Новости
      a(href="#").blog-categories-item Статьи
      a(href="#").blog-categories-item Обзоры
    .blog__articles 
      .articles 
        .articles__main 
          .article 
            .article__inner 
              .article__info 
                .article__date 4.11.2024
                .article__title Струйно-инъекционный метод: инновационная технология для ремонта дорог
                .article__desc Струйно-инъекционный метод, также известный как «СИТ» или «СИМ», представляет собой передовую технологию, используемую в дорожном строительстве для эффективного ремонта и восстановления асфальтовых и бетонных покрытий
                a(href="#").article__btn.btn  Читать
              picture.article__img 
                source(srcset="./img/blog/article.webp" type="image/webp")
                img(src="./img/blog/article.webp", alt="")
        .articles__list 
          a.blog-item(href="#")
            picture.blog-item__img 
              source(srcset="./img/blog/blog-card.webp" type="image/webp")
              img(src="./img/blog/blog-card.webp", alt="")  
            .blog-item__date 04.11.2024
            .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
            .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
          a.blog-item(href="#")
            picture.blog-item__img 
              source(srcset="./img/blog/blog-card.webp" type="image/webp")
              img(src="./img/blog/blog-card.webp", alt="")  
            .blog-item__date 04.11.2024
            .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
            .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
          a.blog-item(href="#")
            picture.blog-item__img 
              source(srcset="./img/blog/blog-card.webp" type="image/webp")
              img(src="./img/blog/blog-card.webp", alt="")  
            .blog-item__date 04.11.2024
            .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
            .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
          a.blog-item(href="#")
            picture.blog-item__img 
              source(srcset="./img/blog/blog-card.webp" type="image/webp")
              img(src="./img/blog/blog-card.webp", alt="")  
            .blog-item__date 04.11.2024
            .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
            .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
          a.blog-item(href="#")
            picture.blog-item__img 
              source(srcset="./img/blog/blog-card.webp" type="image/webp")
              img(src="./img/blog/blog-card.webp", alt="")  
            .blog-item__date 04.11.2024
            .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
            .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
          a.blog-item(href="#")
            picture.blog-item__img 
              source(srcset="./img/blog/blog-card.webp" type="image/webp")
              img(src="./img/blog/blog-card.webp", alt="")  
            .blog-item__date 04.11.2024
            .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
            .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
          a.blog-item(href="#")
            picture.blog-item__img 
              source(srcset="./img/blog/blog-card.webp" type="image/webp")
              img(src="./img/blog/blog-card.webp", alt="")  
            .blog-item__date 04.11.2024
            .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
            .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
          a.blog-item(href="#")
            picture.blog-item__img 
              source(srcset="./img/blog/blog-card.webp" type="image/webp")
              img(src="./img/blog/blog-card.webp", alt="")  
            .blog-item__date 04.11.2024
            .blog-item__title "РЕМОНТ ЯМ" отгрузила рециклер асфальтобетона ST 1000
            .blog-item__desc В конце октября был успешно доставлен рециклер ST 1000 в калининградскую область
        .articles__more-btn.btn.btn--wide.btn--border Показать ещё
        .articles__pagination 
          .pagination 
            button(type="button").pagination__btn < 
            button(type="button").pagination__item._is-active 1
            button(type="button").pagination__item 2 
            button(type="button").pagination__item 3
            button(type="button").pagination__btn > 