.our-partners.section 
  .container-wide 
    .our-partners__inner 
      button(type="button").our-partners__prev.slider-control.js-partners-slider-prev
        +svg(24, 12, 'arrow-left')
      button(type="button").our-partners__next.slider-control.js-partners-slider-next
        +svg(24, 12, 'arrow-right')
      .our-partners__slider.js-partners-slider 
        .swiper-wrapper 
          .our-partners__item.swiper-slide 
            picture.our-partners__item-img 
              source(srcset="./img/our-partners/logo-01.webp", type="image/webp")
              img(src="./img/our-partners/logo-01.webp", alt="")
          .our-partners__item.swiper-slide 
            picture.our-partners__item-img 
              source(srcset="./img/our-partners/logo-02.webp", type="image/webp")
              img(src="./img/our-partners/logo-02.webp", alt="")
          .our-partners__item.swiper-slide 
            picture.our-partners__item-img 
              source(srcset="./img/our-partners/logo-03.webp", type="image/webp")
              img(src="./img/our-partners/logo-03.webp", alt="")
          .our-partners__item.swiper-slide 
            picture.our-partners__item-img 
              source(srcset="./img/our-partners/logo-04.webp", type="image/webp")
              img(src="./img/our-partners/logo-04.webp", alt="")
          .our-partners__item.swiper-slide 
            picture.our-partners__item-img 
              source(srcset="./img/our-partners/logo-05.webp", type="image/webp")
              img(src="./img/our-partners/logo-05.webp", alt="")
          .our-partners__item.swiper-slide 
            picture.our-partners__item-img 
              source(srcset="./img/our-partners/logo-06.webp", type="image/webp")
              img(src="./img/our-partners/logo-06.webp", alt="")
          .our-partners__item.swiper-slide 
            picture.our-partners__item-img 
              source(srcset="./img/our-partners/logo-01.webp", type="image/webp")
              img(src="./img/our-partners/logo-01.webp", alt="")
