<div class="footer-wrapper">
  <div class="footer-top-wrapper">
    <div class="container-wide">
      <div class="footer-top-inner relative">
        <div class="row">
          <div class="col-sm-12 col-lg-3">
            <div class="footer-top-first">
              <img src="./img/logo-white.png" alt="РЕМОНТЯМ" data-retinasrc="./img/logo-white.png">
              <div class="footer-text">ООО «РЕМОНТЯМ». ИНН: 7807252270, ОГРН: 1217800168233</div>
              <div class="copyr">© 2014 - 2024. Все права защищены. РЕМОНТЯМ.</div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="footer-menu">
              <div class="title"><!--noindex-->Дорожно-строительная техника<!--/noindex--></div>
              <ul class="footer_l">
                <li class="first">
                  <a href="catalog/litoy">Кохеры для литого асфальта</a>
                </li>
                <li>
                  <a href="catalog/hotbox">Термос бункеры</a>
                </li>
                <li>
                  <a href="catalog/gudron">Гудронаторы</a>
                </li>
                <li>
                  <a href="catalog/pricepremont-pnevmonabryzgom">Пневмонабрызг</a>
                </li>
                <li>
                  <a href="catalog/kotelbitum">Заливщик швов</a>
                </li>
                <li>
                  <a href="catalog/recicler">Рециклеры асфальта</a>
                </li>
                <li>
                  <a href="catalog/pricepremont">Машины ямочного ремонта асфальта</a>
                </li>
                <li>
                  <a href="catalog/ifrakrasnye">Инфракрасные нагреватели асфальта</a>
                </li>
                <li>
                  <a href="catalog/peredvizhnyie-laboratorii">Передвижные лаборатории</a>
                </li>
                <li>
                  <a href="catalog/ustanovki">Битумно-эмульсионные установки</a>
                </li>
                <li>
                  <a href="catalog/ustanovki-pbv">Установка ПБВ</a>
                </li>
                <li class="last">
                  <a href="catalog/plavbitum">Установки плавления битума</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-lg-3">
            <div class="footer-menu">
              <div class="title"><!--noindex-->Коммунальная техника<!--/noindex--></div>
              <ul class="footer_l"><li class="first"><a href="catalog/navesnoe-oborudovanie-dlya-kdm">Навесное оборудование для КДМ</a></li><li><a href="catalog/polivomoechnoe-oborudovanie">Поливомоечное оборудование</a></li><li><a href="catalog/vakuumnyie-podmetalno-uborochnyie-mashinyi">Вакуумные подметально-уборочные машины</a></li><li><a href="catalog/navesnoe-oborudovanie-traktor-mtz">Навесное оборудование на трактор МТЗ</a></li><li><a href="catalog/peskorazbrasyivateli-priczepnyie">Пескоразбрасыватели прицепные</a></li><li><a href="catalog/vakuumnyie-mashinyi">Вакуумные машины</a></li><li><a href="catalog/benzovozyi-toplivozapravshhiki">Бензовозы - топливозаправщики</a></li><li><a href="catalog/ilososnyie-mashinyi">Илососные машины</a></li><li><a href="catalog/ifrakrasnye-krovly">Инфракрасные нагреватели кровли</a></li><li><a href="catalog/avtonomny">Шнекороторные снегоочистители</a></li><li><a href="catalog/sol-rastvor">Установки приготовления солевого раствора</a></li><li><a href="catalog/kosilki">Косилки на трактор МТЗ</a></li><li><a href="catalog/kombinirovannyie-dorozhnyie-mashinyi">Комбинированные дорожные машины</a></li><li class="last"><a href="catalog/peskorazbrasyivatel">Пескоразбрасывающее оборудование</a></li></ul>
            </div>
          </div>          
          <div class="col-sm-4 col-lg-3">
            <div class="footer-contacts">
              <div class="title">Контакты</div>
              <div itemscope="" itemtype="http://schema.org/Organization">
                <meta itemprop="url" content="https://ремонтям.рф/">
                <meta itemprop="name" content="РЕМОНТЯМ">
                <div itemscope="" itemprop="address" itemtype="http://schema.org/PostalAddress">
                  <meta itemprop="postalCode" content="198332">
                  <meta itemprop="addressLocality" content="Санкт-Петербург">
                  <meta itemprop="streetAddress" content="проспект Кузнецова дом 11 кор.2">
                </div>
                <meta itemprop="telephone" content="8 800 100 41 69">
              </div>
              <div class="tel dflex jcsb aic">
                  <span>Санкт-Петербург: </span>
                  <span class="stel"><a href="tel:+78126484190">+7 (812) 648-41-90</a></span>
              </div>
              <div class="tel dflex jcsb aic">
                <span>Москва:</span>
                <span class="stel"><a href="tel:+74951884190">+7 (495) 188-41-90</a></span>
              </div>
              <div class="tel dflex jcsb aic">
                <span>Отдел продаж:</span>
                <span class="stel"><a href="tel:+79112052741">+7 (911) 205-27-41</a></span>
              </div>
              <div class=" social-links ">
                <a href="https://www.youtube.com/@user-rr6su3fk9g " rel="nofollow noopener" target="blank" class="yutb_link"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a href="https://vk.com/" rel="nofollow noopener" class="vk_link"><i class="fa fa-vk" aria-hidden="true"></i></a>
                <a href="https://t.me/+79112052741" rel="nofollow noopener" class="tg_link"><i class="fa fa-telegram" aria-hidden="true"></i></a>
              </div>
              <style>
                  .social-links a{ color:#fff;border-color:#fff;}
              </style>
              <p>&nbsp;</p>
              <p>E-mail: <a href="mailto:info@remontiam.ru">info@remontiam.ru</a></p>
              <p>Офис: г. Санкт-Петербург, проспект Кузнецова дом 11 кор.2</p>
              <p>Завод: г. Санкт-Петербург, Гатчина, ул.Жемчужина 2</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>