doctype html
html(lang="en")
  include mixins/_mixins
  include includes/head
  +head('Блог')
  body
    include components/header
    main
      .page-inner
        include sections/blog/blog

    include components/footer
    include includes/scripts