doctype html
html(lang="en")
  include mixins/_mixins
  include includes/head
  +head('Сравнение')
  body
    include components/header
    main
      .page-inner
        include sections/cabinet/cabinet

    include components/footer
    include includes/scripts