doctype html
html(lang="en")
  include mixins/_mixins
  include includes/head
  +head('Title')
  body
    include components/header
    main
      .page-inner
        include sections/catalog/catalog

    include components/footer
    include includes/scripts