doctype html
html(lang="en")
  include mixins/_mixins
  include includes/head
  +head('Каталог')
  body
    include components/header
    main
      .page-inner
        include sections/catalog-sections/catalog-sections

    include components/footer
    include includes/scripts