doctype html
html(lang="en")
  include mixins/_mixins
  include includes/head
  +head('Title')
  body
    include components/header
    main
      .container-wide
        h3(style="margin-bottom: 24px; font-size: 32px; font-weight: 500") Страницы
        ul 
          li 
            a(href="home.html" style="margin-bottom: 16px;") Главная
          li 
            a(href="catalog-sections.html" style="margin-bottom: 16px;") Каталог разделов
          li 
            a(href="catalog.html" style="margin-bottom: 16px;") Каталог товаров
          li 
            a(href="product.html" style="margin-bottom: 16px;") Карточка товара
    include components/footer
    include includes/scripts