doctype html
html(lang="en")
  include mixins/_mixins
  include includes/head
  +head('Title')
  body
    include components/header
    main
      .container-wide
        h3(style="margin-bottom: 24px; font-size: 32px; font-weight: 500") Страницы
        ul 
          li 
            a(href="home.html" style="margin-bottom: 16px;") Главная
          li 
            a(href="catalog-sections.html" style="margin-bottom: 16px;") Каталог разделов
          li 
            a(href="catalog.html" style="margin-bottom: 16px;") Каталог товаров
          li 
            a(href="product.html" style="margin-bottom: 16px;") Карточка товара
          li 
            a(href="busines.html" style="margin-bottom: 16px;") Бизнес
          li 
            a(href="about.html" style="margin-bottom: 16px;") О компании
          li 
            a(href="blog.html" style="margin-bottom: 16px;") Блог
          li 
            a(href="articles.html" style="margin-bottom: 16px;") Статьи
          li 
            a(href="article.html" style="margin-bottom: 16px;") Статья
          li 
            a(href="sertificats.html" style="margin-bottom: 16px;") Сертификаты
          li 
            a(href="reviews.html" style="margin-bottom: 16px;") Отзывы
          li 
            a(href="favorites.html" style="margin-bottom: 16px;") Избранное
          li 
            a(href="compare.html" style="margin-bottom: 16px;") Сравнение
          li 
            a(href="basket.html" style="margin-bottom: 16px;") Корзина
          li 
            a(href="cabinet.html" style="margin-bottom: 16px;") ЛК Общая
          li 
            a(href="cabinet-orders.html" style="margin-bottom: 16px;") ЛК Список заказов
          li 
            a(href="cabinet-history-empty.html" style="margin-bottom: 16px;") ЛК История покупок (пустая)
          li 
            a(href="cabinet-history.html" style="margin-bottom: 16px;") ЛК История покупок
          li 
            a(href="cabinet-companies-empty.html" style="margin-bottom: 16px;") ЛК Компании (пустая)
          li 
            a(href="cabinet-companies-add.html" style="margin-bottom: 16px;") ЛК Компании (добавить)
          li 
            a(href="cabinet-companies.html" style="margin-bottom: 16px;") ЛК Компании
        br
        br
        h3(style="margin-bottom: 24px; font-size: 32px; font-weight: 500") Страницы
        ul 
          li 
            a(data-src="popup-login.html" data-fancybox data-type="ajax" style="margin-bottom: 16px;") Вход
          li 
            a(data-src="popup-registration.html" data-fancybox data-type="ajax" style="margin-bottom: 16px;") Регистрация
          li 
            a(data-src="popup-password-recovery.html" data-fancybox data-type="ajax" style="margin-bottom: 16px;") Сброс пароля
    include components/footer
    include includes/scripts