.popup-auth 
  .popup-auth__inner 
    .popup-auth__title Вход 
    form.popup-auth__form(action="")
      .form-group 
        input.form-control(type="email" placeholder="Email") 
      .form-group 
        input.form-control(type="text" placeholder="Пароль") 
      button.btn.btn--primary.btn--wide(type="submit") Войти
    .popup-auth__links 
      a(href="#").popup-auth__link.popup-auth__link--accent Зарегистрироваться
      a(href="#").popup-auth__link Забыли пароль?