.popup-auth 
  .popup-auth__inner 
    .popup-auth__title Сброс пароля 
    form.popup-auth__form(action="")
      .form-group 
        input.form-control(type="email" placeholder="Email") 
      .form-tip 
        | После заполнения формы на вашу почту будет 
        | отправлено письмо с инструкцией по восстановлению пароля
      button.btn.btn--primary.btn--wide(type="submit") Сбросить пароль