doctype html
html(lang="en")
  include mixins/_mixins
  include includes/head
  +head('Карточка товара')
  body
    include components/header
    main
      .page-inner
        include sections/product/product

    include components/footer
    include includes/scripts