sections.catalog 
  .container-wide
    .catalog__title Каталог товаров
    .catalog__inner 
      .catalog__sidebar
        include ../../components/catalog-nav/catalog-nav
      .catalog__content
        .catalog-sections
          .catalog-section 
            .catalog-section__head 
              a(href="#").catalog-section__title Коммунальная техника
            .catalog-section__list 
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-01.png", alt="")
                .catalog-section-card__title Комбинированные дорожные машины
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-02.png", alt="")
                .catalog-section-card__title Пескоразбрасывающее оборудование
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-03.png", alt="")
                .catalog-section-card__title Поливомоечное оборудование
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-04.png", alt="")
                .catalog-section-card__title Установки приготовления солевого раствора
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-05.png", alt="")
                .catalog-section-card__title Вакуумные подметально-уборочные машины
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-06.png", alt="")
                .catalog-section-card__title Вакуумные машины
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-07.png", alt="")
                .catalog-section-card__title Бензовозы-топлизаправщики
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-08.png", alt="")
                .catalog-section-card__title Илососные машины
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-09.png", alt="")
                .catalog-section-card__title Инфракрасные нагреватели кровли
          .catalog-section 
            .catalog-section__head 
              a(href="#").catalog-section__title Дорожная техника
            .catalog-section__list 
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-01.png", alt="")
                .catalog-section-card__title Асфальтоукладчики
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-02.png", alt="")
                .catalog-section-card__title Отсыпщики обочин
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-03.png", alt="")
                .catalog-section-card__title Термос бункеры
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-04.png", alt="")
                .catalog-section-card__title Рециклеры асфальта
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-05.png", alt="")
                .catalog-section-card__title Пневмонабрызг
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-06.png", alt="")
                .catalog-section-card__title Машины ямочного ремонта асфальта
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-07.png", alt="")
                .catalog-section-card__title Кохеры асфальта
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-08.png", alt="")
                .catalog-section-card__title Нагреватели асфальта
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-09.png", alt="")
                .catalog-section-card__title Заливщик швов
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-09.png", alt="")
                .catalog-section-card__title Гудронаторы
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-09.png", alt="")
                .catalog-section-card__title Битумоварки
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-09.png", alt="")
                .catalog-section-card__title Щебнераспределители
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-09.png", alt="")
                .catalog-section-card__title Разметочные машины
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-09.png", alt="")
                .catalog-section-card__title Экскаватор-погрузчик
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-09.png", alt="")
                .catalog-section-card__title Тепловые копья
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-09.png", alt="")
                .catalog-section-card__title Цементораспределители
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-09.png", alt="")
                .catalog-section-card__title Установки распределения вяжущих
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-09.png", alt="")
                .catalog-section-card__title Передвижные лаборатории
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-09.png", alt="")
                .catalog-section-card__title Укладчики литого асфальта
          .catalog-section 
            .catalog-section__head 
              a(href="#").catalog-section__title Грузоподъёмная техника
            .catalog-section__list 
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-01.png", alt="")
                .catalog-section-card__title Короткобазные краны
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-02.png", alt="")
                .catalog-section-card__title Гусеничные краны
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-03.png", alt="")
                .catalog-section-card__title Автокраны
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-04.png", alt="")
                .catalog-section-card__title Модульные транспортёры
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-05.png", alt="")
                .catalog-section-card__title Самоходные транспортеры
          .catalog-section 
            .catalog-section__head 
              a(href="#").catalog-section__title Навесное оборудование
            .catalog-section__list 
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-01.png", alt="")
                .catalog-section-card__title Навесные асфальтоукладчики
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-02.png", alt="")
                .catalog-section-card__title Косилки на трактор МТЗ
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-03.png", alt="")
                .catalog-section-card__title Навесное оборудование для КДМ
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-03.png", alt="")
                .catalog-section-card__title Навесное оборудование трактор МТЗ
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-05.png", alt="")
                .catalog-section-card__title Дорожная навесная фреза
              a(href="#").catalog-section-card
                .catalog-section-card__img 
                  img(src="./img/catalog/cat-section-05.png", alt="")
                .catalog-section-card__title Шнекороторные снегоочистители
        include ../../components/catalog-order/catalog-order
        include ../../components/catalog-desc/catalog-desc
        include ../../components/catalog-faq/catalog-faq