.products-slider.section.js-products-slider-container
  .container 
    .products-slider__head
      .products-slider__title.h2 Топ продаж
      a(href="#").products-slider__show-more.btn-round Смотреть все
    .products-slider__inner 
      button(type="button").products-slider__prev.slider-control.js-products-slider-prev
        +svg(24, 12, 'arrow-left')
      button(type="button").products-slider__next.slider-control.js-products-slider-next
        +svg(24, 12, 'arrow-right')
      .products-slider__wrapper.js-products-slider
        .swiper-wrapper 
          .products-slider__item.swiper-slide 
            picture.products-slider__item-img 
              source(srcset="./img/products-slider/products-card-01.webp", type="image/webp")
              img(src="./img/products-slider/product-card-01.webp", alt="")
            .products-slider__item-info 
              .products-slider__item-price 1  500 000 ₽
              .products-slider__item-name Термос-бункер для асфальта Яр-4М
              .products-slider__item-available В наличии
              button(type="button").products-slider__item-btn.btn.btn--wide
                +svg(15, 15, 'basket')
                span В корзину
          .products-slider__item.swiper-slide 
            picture.products-slider__item-img 
              source(srcset="./img/products-slider/products-card-01.webp", type="image/webp")
              img(src="./img/products-slider/product-card-01.webp", alt="")
            .products-slider__item-info 
              .products-slider__item-price 1  500 000 ₽
              .products-slider__item-name Термос-бункер для асфальта Яр-4М
              .products-slider__item-available В наличии
              button(type="button").products-slider__item-btn.btn.btn--wide
                +svg(15, 15, 'basket')
                span В корзину
          .products-slider__item.swiper-slide 
            picture.products-slider__item-img 
              source(srcset="./img/products-slider/products-card-01.webp", type="image/webp")
              img(src="./img/products-slider/product-card-01.webp", alt="")
            .products-slider__item-info 
              .products-slider__item-price 1  500 000 ₽
              .products-slider__item-name Термос-бункер для асфальта Яр-4М
              .products-slider__item-available В наличии
              button(type="button").products-slider__item-btn.btn.btn--wide
                +svg(15, 15, 'basket')
                span В корзину
          .products-slider__item.swiper-slide 
            picture.products-slider__item-img 
              source(srcset="./img/products-slider/products-card-01.webp", type="image/webp")
              img(src="./img/products-slider/product-card-01.webp", alt="")
            .products-slider__item-info 
              .products-slider__item-price 1  500 000 ₽
              .products-slider__item-name Термос-бункер для асфальта Яр-4М
              .products-slider__item-available В наличии
              button(type="button").products-slider__item-btn.btn.btn--wide
                +svg(15, 15, 'basket')
                span В корзину
          .products-slider__item.swiper-slide 
            picture.products-slider__item-img 
              source(srcset="./img/products-slider/products-card-01.webp", type="image/webp")
              img(src="./img/products-slider/product-card-01.webp", alt="")
            .products-slider__item-info 
              .products-slider__item-price 1  500 000 ₽
              .products-slider__item-name Термос-бункер для асфальта Яр-4М
              .products-slider__item-available В наличии
              button(type="button").products-slider__item-btn.btn.btn--wide
                +svg(15, 15, 'basket')
                span В корзину
          .products-slider__item.swiper-slide 
            picture.products-slider__item-img 
              source(srcset="./img/products-slider/products-card-01.webp", type="image/webp")
              img(src="./img/products-slider/product-card-01.webp", alt="")
            .products-slider__item-info 
              .products-slider__item-price 1  500 000 ₽
              .products-slider__item-name Термос-бункер для асфальта Яр-4М
              .products-slider__item-available В наличии
              button(type="button").products-slider__item-btn.btn.btn--wide
                +svg(15, 15, 'basket')
                span В корзину