.popular.section 
  .container-wide
    .popular__title.h2 Популярные категории
    .popular__categories 
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/cat-popular-01.webp", type="image/webp")
          img(src="./img/popular/cat-popular-01.webp", alt="")
        .popular__category-title Комунальная техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/cat-popular-02.webp", type="image/webp")
          img(src="./img/popular/cat-popular-02.webp", alt="")
        .popular__category-title Дорожная техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/cat-popular-03.webp", type="image/webp")
          img(src="./img/popular/cat-popular-03.webp", alt="")
        .popular__category-title Прицепы
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/cat-popular-04.webp", type="image/webp")
          img(src="./img/popular/cat-popular-04.webp", alt="")
        .popular__category-title Грузоподъёмная 
          br
          | техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/cat-popular-05.webp", type="image/webp")
          img(src="./img/popular/cat-popular-05.webp", alt="")
        .popular__category-title Навесное оборудование
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/cat-popular-06.webp", type="image/webp")
          img(src="./img/popular/cat-popular-06.webp", alt="")
        .popular__category-title Асфальтные <br> заводы
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/cat-popular-07.webp", type="image/webp")
          img(src="./img/popular/cat-popular-07.webp", alt="")
        .popular__category-title Карьерная техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/cat-popular-08.webp", type="image/webp")
          img(src="./img/popular/cat-popular-08.webp", alt="")
        .popular__category-title Техника для 
          br
          | демонтажа зданий
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/cat-popular-09.webp", type="image/webp")
          img(src="./img/popular/cat-popular-09.webp", alt="")
        .popular__category-title Самоходные транспортёры
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/cat-popular-10.webp", type="image/webp")
          img(src="./img/popular/cat-popular-10.webp", alt="")
        .popular__category-title Электрооборудование