.popular.section 
  .container 
    .popular__title.heading-title.h2 Популярные категории
    .popular__categories 
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/popular-01.webp", type="image/webp")
          img(src="./img/popular/popular-01.webp", alt="")
        .popular__category-title Комунальная техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/popular-02.webp", type="image/webp")
          img(src="./img/popular/popular-02.webp", alt="")
        .popular__category-title Комунальная техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/popular-03.webp", type="image/webp")
          img(src="./img/popular/popular-03.webp", alt="")
        .popular__category-title Комунальная техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/popular-04.webp", type="image/webp")
          img(src="./img/popular/popular-04.webp", alt="")
        .popular__category-title Комунальная техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/popular-05.webp", type="image/webp")
          img(src="./img/popular/popular-05.webp", alt="")
        .popular__category-title Комунальная техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/popular-06.webp", type="image/webp")
          img(src="./img/popular/popular-06.webp", alt="")
        .popular__category-title Комунальная техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/popular-07.webp", type="image/webp")
          img(src="./img/popular/popular-07.webp", alt="")
        .popular__category-title Комунальная техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/popular-01.webp", type="image/webp")
          img(src="./img/popular/popular-01.webp", alt="")
        .popular__category-title Комунальная техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/popular-05.webp", type="image/webp")
          img(src="./img/popular/popular-05.webp", alt="")
        .popular__category-title Комунальная техника
      a(href="#").popular__category 
        picture.popular__category-img 
          source(srcset="./img/popular/popular-03.webp", type="image/webp")
          img(src="./img/popular/popular-03.webp", alt="")
        .popular__category-title Комунальная техника