.leasing
  .container-wide 
    .leasing-hero 
      .leasing-hero__inner 
        .leasing-hero__info 
          h1.leasing-hero__title Покупка спецтехники в кредит и лизинг
          .leasing-hero__desc 
            p Дорожная спецтехника является сложным и дорогостоящим оборудованием, и зачастую 
              | многие владельцы бизнесов не хотят приобретать её за однократный платёж 
              | по тем или иным причинам. Как правило, более удобным, безопасным и рациональным 
              | решением является 
              span покупка спецтехники в лизинг или кредит.
            p Наша компания «РемонтЯм» является ведущим заводом-изготовителем дорожной техники, 
              | продукция которой пользуется высочайшей популярностью по всей России и в странах 
              | ближнего зарубежья. Мы предлагаем нашим клиентам самые разные способы оплаты, 
              | в том числе готовы предоставлять услуги лизинговой компании или оформить спецтехнику в кредит.
        picture.leasing-hero__img 
          source(srcset="./img/leasing/hero.webp", type="image/webp")
          img(src="./img/leasing/hero.webp", alt="")
    .leasing-content
      nav.leasing-nav 
        a(href="#").leasing-nav__link._is-active Спецтехника в лизинг
        a(href="#").leasing-nav__link Спецтехника в кредит
      .leasing-main 
        .leasing-info 
          h2.leasing-info__title Спецтехника в лизинг
          .leasing-info__desc 
            p Лизинг — это форма финансовых отношений, в рамках которых лизингодатель 
              | обычно приобретает какую‑либо технику за свой счёт и сдаёт её в аренду 
              | лизингополучателю, который чаще всего может выкупить её по окончании 
              | срока аренды (за вычетом уже внесённой суммы).
            p Наша компания также даёт вам возможность купить технику в лизинг, однако 
              | мы не сотрудничаем ни с какими сторонними поставщиками, а производим 
              | всё самостоятельно. В связи с этим цепочка торговых связей сокращается, 
              | а вы значительно экономите свои деньги при покупке как техники в лизинг для юридических лиц, так и при покупке техники в лизинг для ИП.
        .leasing-gallery.js-leasing-gallery-slider
          .swiper-wrapper 
            .swiper-slide 
              picture.leasing-gallery__img 
                img(src="./img/leasing/gallery-01.webp", alt="") 
            .swiper-slide 
              picture.leasing-gallery__img 
                img(src="./img/leasing/gallery-02.webp", alt="")
            .swiper-slide 
              picture.leasing-gallery__img 
                img(src="./img/leasing/gallery-01.webp", alt="") 
            .swiper-slide 
              picture.leasing-gallery__img 
                img(src="./img/leasing/gallery-02.webp", alt="")
          .swiper-pagination
        .leasing-advantages 
          .leasing-advantages__inner 
            .leasing-advantages__head
              .leasing-advantages__title Преимущества приобретения техники в лизинг
              .leasing-advantages__subtitle Рассмотрим основные преимущества, покупки техники в лизинг
            .leasing-advantages__list 
              .leasing-advantages__item 
                .leasing-advantages__item-num 1
                .leasing-advantages__item-info 
                  .leasing-advantages__item-title Минимальный первоначальный взнос
                  .leasing-advantages__item-desc 
                    | В отличие от кредита, техника лизинг для юридических компаний 
                    | и ИП зачастую требует меньшего первоначального взноса, что снижает финансовую нагрузку на старте.
              .leasing-advantages__item 
                .leasing-advantages__item-num 2
                .leasing-advantages__item-info 
                  .leasing-advantages__item-title Удобный график платежей
                  .leasing-advantages__item-desc 
                    | Условия покупки техники в лизинг могут быть прописаны практически 
                    | как угодно, что позволяет согласовать график выплат в максимально комфортном для вас варианте.
              .leasing-advantages__item 
                .leasing-advantages__item-num 3
                .leasing-advantages__item-info 
                  .leasing-advantages__item-title Простота оформления
                  .leasing-advantages__item-desc
                    | Процесс получения техники в лизинг зачастую быстрее и проще, чем оформление кредита 
                    | в банке, что позволяет оперативно получить необходимое оборудование для работы. 
              .leasing-advantages__item 
                .leasing-advantages__item-num 4
                .leasing-advantages__item-info 
                  .leasing-advantages__item-title Обновление техники
                  .leasing-advantages__item-desc 
                    | Техника в лизинг для физических лиц намного более выгодна с точки зрения обслуживания 
                    | и обновления, чем кредит. В рамках кредита субъект, его взявший, сам несёт ответственность 
                    | за ремонт и модернизацию техники. При лизинге же можно составить договор таким образом, 
                    | чтобы мы сами проводили всё необходимое обслуживание.
              .leasing-advantages__item 
                .leasing-advantages__item-num 5
                .leasing-advantages__item-info 
                  .leasing-advantages__item-title Экономия средств на процентных ставках
                  .leasing-advantages__item-desc 
                    | Лизинг, особенно при прямой работе с производителем, как в нашем случае, обычно 
                    | реализуется по более выгодным процентным ставкам по сравнению с кредитам, что особенно 
                    | важно, если вы решили приобрести технику в лизинг на длительный срок.
              .leasing-advantages__item 
                .leasing-advantages__item-num 6
                .leasing-advantages__item-info 
                  .leasing-advantages__item-title Налоговые преимущества
                  .leasing-advantages__item-desc 
                    | Лизинговые платежи могут быть более выгодными с точки зрения налоговой оптимизации.
            .leasing-advantages__desc 
              | Таким образом, решение о том, чтобы купить технику в лизинг для юридических лиц 
              | (и для физических тоже), является отличным и рациональным решением в основном 
              | для тех компаний, которые не хотят самостоятельно обслуживать и распоряжаться 
              | используемой техникой, и готовы переложить эту работу на завод-изготовитель 
              | в обмен на некоторые ограничения правами собственности.
        .leasing-info 
          .leasing-info__title Условия лизинга спецтехники
          .leasing-info__desc 
            | Мы работаем индивидуально с каждым клиентом, поэтому в зависимости от ваших запроса 
            | и ситуации, мы совместно определим сроки лизинга, размер первоначального взноса, 
            | частоту и размер регулярных платежей, возможность выкупа по окончании срока аренды, 
            | а также особенности обслуживания и ремонта.
        .consultation-order
          .consultation-order__inner 
            .consultation-order__title Оставьте заявку
            .consultation-order__subtitle чтобы получить консультацию
            form.consultation-order__form(action="#")
              input.consultation-order__form-input(type="text" placeholder="Имя") 
              input.consultation-order__form-input(type="text" placeholder="Телефон") 
              button(type="submit").consultation-order__form-submit.btn.btn--xl Отправить
        .leasing-info 
          .leasing-info__title Спецтехника в кредит
          .leasing-info__desc 
            p Кредит — это классическая форма финансирования, при которой покупатель берет 
              | заемные средства у банка или другой финансовой организации для покупки спецтехники. 
              | В отличие от лизинга, при кредите клиент сразу становится владельцем техники, 
              | оплачивая ее стоимость по частям с процентами.
            p Этот вариант удобен для тех, кто предпочитает сразу иметь полный контроль над 
              | имуществом. Наша компания «РемонтЯм» сотрудничает с различными банками и предлагает 
              | своим клиентам возможность покупки спецтехники в кредит на выгодных условиях, 
              | с минимальными процентными ставками и гибкими сроками погашения.
        .credit-advantages 
          .credit-advantages__inner 
            .credit-advantages__info 
              .credit-advantages__title Преимущества покупки спецтехники в кредит
              .credit-advantages__desc Рассмотрим основные особенности покупки спецтехники в кредит физическим лицам и юридическим лицам:
              ul.custom-list.credit-advantages__list 
                li Полное право собственности с момента покупки — сразу после оформления 
                  | кредита техника становится вашей собственностью, и вы можете свободно распоряжаться ею.
                li Гибкость в использовании — нет ограничений в эксплуатации техники, так 
                  | как вы являетесь ее владельцем и можете модернизировать, продавать или сдавать в аренду или даже лизинг.
                li Налоговые особенности – в ряде случае кредит может быть предпочтительнее 
                  | с точки зрения налогового обременения, чем лизинг.
              .credit-advantages__text
                | Кредит является отличной альтернативой лизингу для тех компаний и физических лиц, которые 
                | не хотят сковывать себя сложными обязательствами и договорами, готовы нести тяжбы обслуживания 
                | самостоятельно, а единственную ответственность перед кредитодателем хотят перевести в область денежных выплат.
            picture.credit-advantages__img 
              source(srcset="./img/leasing/credit.webp", type="image/webp")
              img(src="./img/leasing/credit.webp", alt="")
        .leasing-info 
          .leasing-info__title Условия спецтехники в кредит
          .leasing-info__desc  
            | Чтобы узнать все детали того, как купить спецтехнику в кредит физическому или юридическому 
            | лицу, рекомендуем обратиться к нам напрямую по телефону, который вы найдёте на сайте. 
            | В процессе короткого разговора, мы расскажем вам ориентировочные сроки погашения, размер 
            | первоначального взноса, особенности досрочных выплат и все прочие детали сделки.
        .credit-steps 
          .credit-steps__inner
            .credit-steps__title Как взять спецтехнику в лизинг или кредит?
            .credit-steps__subtitle Тезисно подведём итог, и скажем, как брать технику в лизинг или кредит:
            ul.custom-list.credit-steps__list 
              li 
                span Выберите технику
                |  — определитесь с моделью и характеристиками нужной спецтехники из нашего каталога.
              li  
                span Рассчитайте условия
                | — решите, какой вариант финансирования вам подходит: лизинг или кредит, и обсудите условия (срок, график платежей, первоначальный взнос) с нашими менеджерами.
              li 
                span Подготовьте документы
                |  — предоставьте необходимые документы для оформления сделки (сведения о компании для юридических лиц или паспорт, ИНН для физических лиц и так далее).
              li 
                span Оформите договор
                | — после согласования всех условий и проверки документов подписывается договор на кредит или лизинг.
              li 
                span Получите технику
                | — после оформления всех формальностей техника будет передана вам для использования на согласованных условиях.
            .credit-steps__desc
              | Если у вас остались какие-то вопросы по поводу того, как оформлять технику в лизинг и кредит, 
              | или вам нужно просто уточнить любые моменты и детали, оставляйте заявку на сайте, и мы перезвоним вам в кратчайшие сроки.
        .consultation-order
          .consultation-order__inner 
            .consultation-order__title Оставьте заявку
            .consultation-order__subtitle чтобы получить консультацию
            form.consultation-order__form(action="#")
              input.consultation-order__form-input(type="text" placeholder="Имя") 
              input.consultation-order__form-input(type="text" placeholder="Телефон") 
              button(type="submit").consultation-order__form-submit.btn.btn--xl Отправить