section.reviews 
  .container-wide 
    .reviews__title.h2 Отзывы
    .reviews__inner 
      .reviews__nav 
        a(href="#").reviews__nav-item О компании 
        a(href="#").reviews__nav-item Сертификаты
        a(href="#").reviews__nav-item._is-active Отзывы
      .reviews__main 
        .reviews__banner 
          .reviews__banner-info 
            .reviews__banner-title Уважаемые покупатели!
            .reviews__banner-text 
              | Cпасибо, что воспользовались услугами интернет-магазина.
              br
              | Нам важно знать ваше мнение!
          a.reviews__banner-btn.btn(href="#") Написать отзыв
        .reviews__platforms 
          .reviews__platform._is-active
            .reviews__platform-name Все отзывы
            .reviews__platform-counter 57
          .reviews__platform
            .reviews__platform-logo
              img(src="./img/icons/yandex.svg", alt="")
            .reviews__platform-counter 20
          .reviews__platform
            .reviews__platform-logo
              img(src="./img/icons/google.svg", alt="")
            .reviews__platform-counter 8
        .reviews__sorting 
          .reviews__sorting-title Сортировать: 
          .reviews__sorting-select.select
            select(name="")
              option(value="1") По дате  
              option(value="1") По рейтингу
        .reviews__list 
          .reviews-item 
            .reviews-item__main
              .reviews-item__info 
                .reviews-item__name Антон
                .reviews-item__date 16.10.2024
                .reviews-item__rating 
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                .reviews-item__platform 
                  img(src="./img/icons/yandex.svg", alt="")
              .reviews-item__text Сайт рыбатекст поможет дизайнеру, верстальщику, 
                | вебмастеру сгенерировать несколько абзацев более 
                | менее осмысленного текста рыбы 
                | на русском языке, а начинающему оратору отточить навык 
                | публичных выступлений в домашних условиях. При создании генератора 
                | мы использовали небезизвестный универсальный код речей. Текст генерируется 
                | абзацами случайным образом от двух до десяти предложений 
                | в абзаце, что позволяет сделать текст более привлекательным и живым 
                | для визуально-слухового восприятия.
          .reviews-item 
            .reviews-item__main
              .reviews-item__info 
                .reviews-item__name Антон
                .reviews-item__date 16.10.2024
                .reviews-item__rating 
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                .reviews-item__platform 
                  img(src="./img/icons/google.svg", alt="")
              .reviews-item__text Сайт рыбатекст поможет дизайнеру, верстальщику, 
                | вебмастеру сгенерировать несколько абзацев более 
                | менее осмысленного текста рыбы 
                | на русском языке, а начинающему оратору отточить навык 
                | публичных выступлений в домашних условиях. При создании генератора 
                | мы использовали небезизвестный универсальный код речей. Текст генерируется 
                | абзацами случайным образом от двух до десяти предложений 
                | в абзаце, что позволяет сделать текст более привлекательным и живым 
                | для визуально-слухового восприятия.
            .reviews-item__answer
              .reviews-item__answer-inner
                .reviews-item__answer-logo 
                  img(src="./img/icons/remontyam.svg", alt="")
                .reviews-item__answer-text
                  | Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
          .reviews-item 
            .reviews-item__main
              .reviews-item__info 
                .reviews-item__name Антон
                .reviews-item__date 16.10.2024
                .reviews-item__rating 
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                .reviews-item__platform 
                  img(src="./img/icons/yandex.svg", alt="")
              .reviews-item__text Сайт рыбатекст поможет дизайнеру, верстальщику, 
                | вебмастеру сгенерировать несколько абзацев более 
                | менее осмысленного текста рыбы 
                | на русском языке, а начинающему оратору отточить навык 
                | публичных выступлений в домашних условиях. При создании генератора 
                | мы использовали небезизвестный универсальный код речей. Текст генерируется 
                | абзацами случайным образом от двух до десяти предложений 
                | в абзаце, что позволяет сделать текст более привлекательным и живым 
                | для визуально-слухового восприятия.
          .reviews-item 
            .reviews-item__main
              .reviews-item__info 
                .reviews-item__name Антон
                .reviews-item__date 16.10.2024
                .reviews-item__rating 
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                  img(src="./img/icons/star.svg", alt="")
                .reviews-item__platform 
                  img(src="./img/icons/yandex.svg", alt="")
              .reviews-item__text Сайт рыбатекст поможет дизайнеру, верстальщику, 
                | вебмастеру сгенерировать несколько абзацев более 
                | менее осмысленного текста рыбы 
                | на русском языке, а начинающему оратору отточить навык 
                | публичных выступлений в домашних условиях. При создании генератора 
                | мы использовали небезизвестный универсальный код речей. Текст генерируется 
                | абзацами случайным образом от двух до десяти предложений 
                | в абзаце, что позволяет сделать текст более привлекательным и живым 
                | для визуально-слухового восприятия.
        button(type="button").reviews__more-btn.btn Загрузить ещё отзывы