
$xs: 479.98px;
$s: 620px;
$m: 767.98px;
$ms: 1023.98px;
$mt: 1279.98px;
$l: 1365.98px;
$ls: 1439.98px;
$lt: 1599.98px;
$xl: 1919.98px;
$xls: 2559px;
$tablet: 991.98px; // Планшеты
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S