.why-us.section 
  .why-us__container.container-wide 
    .why-us__info  
      a(href="#").why-us__logo
        img(src="./img/logo-wide.svg", alt="")
      .why-us__desc   
        p Компания «РЕМОНТЯМ» предлагает купить дорожно-строительную технику и спецоборудование для укладки асфальтобетонного покрытия по выгодным ценам и условиях. Мы реализуем продукцию собственного производства, которая изготавливается с применением инновационных технологий и требования государственных стандартов в области строительства дорог.
        p География поставок включает всю Россию, а доставка осуществляется во все крупные российские города. На нашем официальном сайте вы можете найти основные характеристики техники и выгодные решения для приобретения, включая лизинг.
      .why-us__action 
        a(href="#").why-us__btn.btn.btn--wide Показать больше
        a(href="#").why-us__btn.btn.btn--outline.btn--wide Подробнее
    .why-us__benefits 
      .why-us__benefits-title.heading-title.h2 Почему выбирают РЕМОНТЯМ
      .why-us__benefits-list
        .why-us__benefit 
          .why-us__benefit-icon 
            +svg(22, 22, 'star')
          .why-us__benefit-info
            .why-us__benefit-title Широкий ассортимент
            a(href="#").why-us__benefit-link В каталог
        .why-us__benefit 
          .why-us__benefit-icon 
            +svg(22, 22, 'star')
          .why-us__benefit-info
            .why-us__benefit-title Оперативность сделки
            a(href="#").why-us__benefit-link В каталог
        .why-us__benefit 
          .why-us__benefit-icon 
            +svg(22, 22, 'star')
          .why-us__benefit-info
            .why-us__benefit-title Более 300 отгрузок в год
            a(href="#").why-us__benefit-link В каталог
        .why-us__benefit 
          .why-us__benefit-icon 
            +svg(22, 22, 'star')
          .why-us__benefit-info
            .why-us__benefit-title Обслуживаем РФ И СНГ
            a(href="#").why-us__benefit-link В каталог
        .why-us__benefit 
          .why-us__benefit-icon 
            +svg(22, 22, 'star')
          .why-us__benefit-info
            .why-us__benefit-title Отсрочка платежа
            a(href="#").why-us__benefit-link В каталог
        .why-us__benefit 
          .why-us__benefit-icon 
            +svg(22, 22, 'star')
          .why-us__benefit-info
            .why-us__benefit-title Сервисная служба
            a(href="#").why-us__benefit-link В каталог
        .why-us__benefit 
          .why-us__benefit-icon 
            +svg(22, 22, 'star')
          .why-us__benefit-info
            .why-us__benefit-title Лизинг
            a(href="#").why-us__benefit-link В каталог
        .why-us__benefit 
          .why-us__benefit-icon 
            +svg(22, 22, 'star')
          .why-us__benefit-info
            .why-us__benefit-title Доставка
            a(href="#").why-us__benefit-link В каталог
        .why-us__benefit 
          .why-us__benefit-icon 
            +svg(22, 22, 'star')
          .why-us__benefit-info
            .why-us__benefit-title Участие в тендерах
            a(href="#").why-us__benefit-link В каталог
        .why-us__benefit 
          .why-us__benefit-icon 
            +svg(22, 22, 'star')
          .why-us__benefit-info
            .why-us__benefit-title Работаем по пост оплате
            a(href="#").why-us__benefit-link В каталог