section.about-info.section 
  .container-wide.about-info__container 
    .about-info__left 
      .about-info__title КОМПАНИЯ «Ремонт Ям»— СЕГОДНЯ
      .about-info__desc 
        p «РемонтЯм» изготавливает оборудование на производственных 
          | площадях 2000 м². В собственности компании сертифицированные 
          | станки плазменной резки, гибочные, токарно-фрезерные, сверлильные 
          | станки, полуавтоматическое сварочное оборудование, атестованное НАКС.
        p Собственное конструкторское подразделение компании следит 
          | за качеством выполнения текущих заказов и усовершенствует 
          | новые технические решения.
        p Наличие сервисной поддержки 24/7 обеспечивает высокий 
          | показатель надёжности и бесперебойной работы оборудования 
          | находящегося в эксплуатации.
      .about-info__faq
        .faq-item 
          .faq-item__head.accordion-item 
            .faq-item__title 2024 г.
            .faq-item__icon 
          .faq-item__body.accordion-content 
            p 2024 г.
        .faq-item 
          .faq-item__head.accordion-item 
            .faq-item__title 2021 г.
            .faq-item__icon 
          .faq-item__body.accordion-content 
            p 2021 г.
        .faq-item 
          .faq-item__head.accordion-item 
            .faq-item__title 2020 г.
            .faq-item__icon 
          .faq-item__body.accordion-content 
            p 2020 г.
        .faq-item 
          .faq-item__head.accordion-item 
            .faq-item__title 2014 г.
            .faq-item__icon 
          .faq-item__body.accordion-content 
            p 2014 г.
        .faq-item 
          .faq-item__head.accordion-item 
            .faq-item__title 2012 г.
            .faq-item__icon 
          .faq-item__body.accordion-content 
            p 2012 г.
    .about-info__right
      .about-info__stats 
        .about-info__stats-title О НАС В ЦИФРАХ
        .about-info__stats-list 
          .about-info__stats-item 
            .about-info__stats-item-title 2000 м²
            .about-info__stats-item-desc производственных площадей
          .about-info__stats-item 
            .about-info__stats-item-title 130+ моделей
            .about-info__stats-item-desc сертифицированного оборудования
          .about-info__stats-item 
            .about-info__stats-item-title 10+
            .about-info__stats-item-desc профессионалов в штате
          .about-info__stats-item 
            .about-info__stats-item-title 10 лет
            .about-info__stats-item-desc средний профессиональный стаж инженера- разработчика
          .about-info__stats-item 
            .about-info__stats-item-title 10 лет
            .about-info__stats-item-desc на рынке
          .about-info__stats-item 
            .about-info__stats-item-title 14 рабочих дней
            .about-info__stats-item-desc максимальный срок исполнения заказа
        .about-info__stats-gallery 
          picture.about-info__stats-img 
            source(srcset="./img/about/about-info-01.webp" type="image/webp")
            img(src="./img/about/about-info-01.webp", alt="")
          picture.about-info__stats-img 
            source(srcset="./img/about/about-info-02.webp" type="image/webp")
            img(src="./img/about/about-info-02.webp", alt="")
          picture.about-info__stats-img 
            source(srcset="./img/about/about-info-03.webp" type="image/webp")
            img(src="./img/about/about-info-03.webp", alt="")
