section.about-gallery.section 
  .container-wide
    .about-gallery__slider.js-about-gallery-slider 
      .swiper-wrapper 
        .about-gallery__item.swiper-slide 
          picture.about-gallery__item-img 
            source(srcset="./img/about/gallery-01.webp" type="image/webp")
            img(src="./img/about/gallery-01.webp", alt="")
          picture.about-gallery__item-img 
            source(srcset="./img/about/gallery-02.webp" type="image/webp")
            img(src="./img/about/gallery-02.webp", alt="")
        .about-gallery__item.swiper-slide 
          picture.about-gallery__item-img 
            source(srcset="./img/about/gallery-03.webp" type="image/webp")
            img(src="./img/about/gallery-03.webp", alt="")
          picture.about-gallery__item-img 
            source(srcset="./img/about/gallery-04.webp" type="image/webp")
            img(src="./img/about/gallery-04.webp", alt="")
        .about-gallery__item.swiper-slide 
          picture.about-gallery__item-img 
            source(srcset="./img/about/gallery-05.webp" type="image/webp")
            img(src="./img/about/gallery-05.webp", alt="")
          picture.about-gallery__item-img 
            source(srcset="./img/about/gallery-06.webp" type="image/webp")
            img(src="./img/about/gallery-06.webp", alt="")
        .about-gallery__item.swiper-slide 
          picture.about-gallery__item-img 
            source(srcset="./img/about/gallery-07.webp" type="image/webp")
            img(src="./img/about/gallery-07.webp", alt="")
          picture.about-gallery__item-img 
            source(srcset="./img/about/gallery-08.webp" type="image/webp")
            img(src="./img/about/gallery-08.webp", alt="")
        .about-gallery__item.swiper-slide 
          picture.about-gallery__item-img 
            source(srcset="./img/about/gallery-01.webp" type="image/webp")
            img(src="./img/about/gallery-01.webp", alt="")
          picture.about-gallery__item-img 
            source(srcset="./img/about/gallery-04.webp" type="image/webp")
            img(src="./img/about/gallery-04.webp", alt="")
      .swiper-pagination