section.about-banner 
  .container-wide 
    .about-banner__inner
      .about-banner__info 
        .about-banner__title 
          span ООО "Ремонт Ям"
          | Завод-производитель дорожной техники
        .about-banner__desc 
          p ООО «Ремонт Ям» - завод - изготовитель дорожной техники для выполнения работ по текущему ремонту и содержанию автомобильных дорог.
          p ООО «РемонтЯм» производит и выпускает на Российский рынок следующую дорожную технику:
          ul 
            li инфракрасные нагреватели асфальта размерами от 0.6 до 2.4 м2
            li термос-бункеры вместительностью от 2 до 10 тонн асфальтобетона
            li машины для ямочного ремонта в кузов самосвала и на прицепе
            li рециклеры асфальтовой крошки объемом от 0.6 до 2 м3
            li котлы заливщики (ручные, прицепные, самоходные)
            li кохеры для горячего асфальта на 1 и 4 метра кубических
      picture.about-banner__img 
        source(srcset="./img/about/about-banner.webp" type="image/webp")
        img(src="./img/about/about-banner.webp", alt="")