section.about-team.section 
  .container-wide
    .about-team__inner 
      picture.about-team__img 
        source(srcset="./img/about/team.webp" type="image/webp")
        img(src="./img/about/team.webp", alt="")
      .about-team__info 
        .about-team__title КОМАНДА, НА КОТОРУЮ ЛЕГКО ПОЛОЖИТЬСЯ
        .about-team__desc 
          p В штате «РемонтЯм» работают профессиональные конструкторы. Они любят трудности, а ради клиентов находят эффективные решения самых нестандартных задач, например, проектируют нетиповые мобильные комплексы ямочного ремонта. Отдел главного инженера также занимается обслуживанием проданного оборудования: меняет запчасти, автоматизирует, совершенствует.
          p Сотрудники на производстве работают с дорожной техникой не менее 5 лет, требования ГОСТа знают наизусть и соблюдают неукоснительно. Каждый прошёл аттестацию и неоднократно повышал квалификацию.