section.about-advantages.section 
  .container-wide
    .about-advantages__title Больше, чем поставщик оборудования
    .about-advantages__slider.js-about-advantages-slider
      .swiper-wrapper 
        .about-advantages__item.swiper-slide 
          .about-advantages__item-icon 
            img(src="./img/about/advantage-01.svg", alt="")
          .about-advantages__item-info 
            .about-advantages__item-title Большинство моделей в наличии
            .about-advantages__item-desc 90% техники всегда на складе — доставим за 1 рабочий день.
        .about-advantages__item.swiper-slide 
          .about-advantages__item-icon 
            img(src="./img/about/advantage-02.svg", alt="")
          .about-advantages__item-info 
            .about-advantages__item-title Простая схема сотрудничества
            .about-advantages__item-desc Выбирайте через сайт, консультируйтесь по телефону, заказывайте, получайте, оплачивайте, используйте.
        .about-advantages__item.swiper-slide 
          .about-advantages__item-icon
            img(src="./img/about/advantage-03.svg", alt="")
          .about-advantages__item-info 
            .about-advantages__item-title Налаженные технологические процессы
            .about-advantages__item-desc Оперативно проектируем и выпускаем оборудование даже нестандартных размеров.
        .about-advantages__item.swiper-slide 
          .about-advantages__item-icon 
            img(src="./img/about/advantage-01.svg", alt="")
          .about-advantages__item-info 
            .about-advantages__item-title Большинство моделей в наличии
            .about-advantages__item-desc 90% техники всегда на складе — доставим за 1 рабочий день.
      .swiper-pagination