section.about-connection.section
  .container-wide.about-connection__container 
    .about-connection__map 
      .about-connection__map-title География поставок
      picture.about-connection__map-img 
        source(srcset="./img/about/map.webp" type="image/webp")
        img(src="./img/about/map.webp", alt="")
    .about-connection__partners 
      .about-connection__partners-title Клиенты и партнёры
      .about-connection__partners-list 
        a(href="#").about-connection__partners-item
          picture.about-connection__partners-item-img 
            source(srcset="./img/about/partner-01.webp" type="image/webp")
            img(src="./img/about/partner-01.webp", alt="")
        a(href="#").about-connection__partners-item
          picture.about-connection__partners-item-img 
            source(srcset="./img/about/partner-02.webp" type="image/webp")
            img(src="./img/about/partner-02.webp", alt="")
        a(href="#").about-connection__partners-item
          picture.about-connection__partners-item-img 
            source(srcset="./img/about/partner-03.webp" type="image/webp")
            img(src="./img/about/partner-03.webp", alt="")
        a(href="#").about-connection__partners-item
          picture.about-connection__partners-item-img 
            source(srcset="./img/about/partner-04.webp" type="image/webp")
            img(src="./img/about/partner-04.webp", alt="")
        a(href="#").about-connection__partners-item
          picture.about-connection__partners-item-img 
            source(srcset="./img/about/partner-05.webp" type="image/webp")
            img(src="./img/about/partner-05.webp", alt="")
        a(href="#").about-connection__partners-item
          picture.about-connection__partners-item-img 
            source(srcset="./img/about/partner-06.webp" type="image/webp")
            img(src="./img/about/partner-06.webp", alt="")
        a(href="#").about-connection__partners-item
          picture.about-connection__partners-item-img 
            source(srcset="./img/about/partner-02.webp" type="image/webp")
            img(src="./img/about/partner-02.webp", alt="")
        a(href="#").about-connection__partners-item
          picture.about-connection__partners-item-img 
            source(srcset="./img/about/partner-03.webp" type="image/webp")
            img(src="./img/about/partner-03.webp", alt="")