.catalog-nav 
  .catalog-nav__inner
    .catalog-nav__item
      .catalog-nav__item-main.accordion-item
        .catalog-nav__item-main-title Коммунальная техника
        .catalog-nav__item-main-toggle
      .catalog-nav__item-dropdown.accordion-content
        .catalog-nav__item-dropdown-inner
          a.catalog-nav__item-link(href="#") Коммунальная техника 1
          a.catalog-nav__item-link(href="#") Коммунальная техника 2
      .catalog-nav__item-list 
        .catalog-nav__item-list-inner 
          a(href="#").catalog-section-card
            .catalog-section-card__img 
              img(src="./img/catalog/cat-section-01.png", alt="")
            .catalog-section-card__title Комбинированные дорожные машины
          a(href="#").catalog-section-card
            .catalog-section-card__img 
              img(src="./img/catalog/cat-section-01.png", alt="")
            .catalog-section-card__title Комбинированные дорожные машины
          a(href="#").catalog-section-card
            .catalog-section-card__img 
              img(src="./img/catalog/cat-section-01.png", alt="")
            .catalog-section-card__title Комбинированные дорожные машины
          a(href="#").catalog-section-card
            .catalog-section-card__img 
              img(src="./img/catalog/cat-section-01.png", alt="")
            .catalog-section-card__title Комбинированные дорожные машины
          a(href="#").catalog-section-card
            .catalog-section-card__img 
              img(src="./img/catalog/cat-section-01.png", alt="")
            .catalog-section-card__title Комбинированные дорожные машины
          a(href="#").catalog-section-card
            .catalog-section-card__img 
              img(src="./img/catalog/cat-section-01.png", alt="")
            .catalog-section-card__title Комбинированные дорожные машины
    .catalog-nav__item
      .catalog-nav__item-main 
        .catalog-nav__item-main-title Дорожная техника
        .catalog-nav__item-main-toggle
    .catalog-nav__item
      .catalog-nav__item-main 
        .catalog-nav__item-main-title Грузоподъемная техника
        .catalog-nav__item-main-toggle
    .catalog-nav__item
      .catalog-nav__item-main 
        .catalog-nav__item-main-title Навесное оборудование
        .catalog-nav__item-main-toggle
    .catalog-nav__item
      .catalog-nav__item-main 
        .catalog-nav__item-main-title Коммунальная техника
        .catalog-nav__item-main-toggle
    .catalog-nav__item
      .catalog-nav__item-main 
        .catalog-nav__item-main-title Прицепы
        .catalog-nav__item-main-toggle
    .catalog-nav__item
      .catalog-nav__item-main 
        .catalog-nav__item-main-title Самоходные транспортеры
        .catalog-nav__item-main-toggle
    .catalog-nav__item
      .catalog-nav__item-main 
        .catalog-nav__item-main-title Техника для демонтажа зданий
        .catalog-nav__item-main-toggle
    .catalog-nav__item
      .catalog-nav__item-main 
        .catalog-nav__item-main-title Асфальтные заводы
        .catalog-nav__item-main-toggle
    .catalog-nav__item
      .catalog-nav__item-main 
        .catalog-nav__item-main-title Карьерная техника
        .catalog-nav__item-main-toggle
    .catalog-nav__item
      .catalog-nav__item-main 
        .catalog-nav__item-main-title Материалы
        .catalog-nav__item-main-toggle
    .catalog-nav__item
      .catalog-nav__item-main 
        .catalog-nav__item-main-title Крановое электрооборудование
        .catalog-nav__item-main-toggle
    .catalog-nav__link 
      .catalog-nav__link-badge(style="--color-badge: #4CBC66") Stock
      .catalog-nav__link-title В наличии
    .catalog-nav__link 
      .catalog-nav__link-badge(style="--color-badge: #248EF1") Hit
      .catalog-nav__link-title Хиты продаж
    .catalog-nav__link 
      .catalog-nav__link-badge(style="--color-badge: #E44900") SALE
      .catalog-nav__link-title Со скидкой