section.hero.section 
  .container-wide 
    .hero__inner 
      .hero__info 
        h1.hero__title продажа
          br
          | спецтехники
        .hero__benefits 
          .hero__benefits-item Продаём технику от производителя с доставкой по всей России и стран СНГ
          .hero__benefits-item Изготавливаем спецтехнику для ямочного ремонта асфальта
      picture.hero__img 
        img(src="./img/hero/hero.webp", alt="")