section.cabinet 
  .container-wide 
    .cabinet__inner 
      .cabinet__aside 
        nav.cabinet-nav 
          .cabinet-nav__title Личный кабинет
          .cabinet-nav__list 
            .cabinet-nav__section 
              .cabinet-nav__section-title Покупки
              .cabinet-nav__section-list 
                a(href="#").cabinet-nav__link Мои заказы
                a(href="#").cabinet-nav__link История заказов
            .cabinet-nav__section 
              .cabinet-nav__section-title Профиль
              .cabinet-nav__section-list 
                a(href="#").cabinet-nav__link Мои отзывы и вопросы
                a(href="#").cabinet-nav__link Личные данные
                a(href="#").cabinet-nav__link Мои организации
            .cabinet-nav__section 
              .cabinet-nav__section-title Товары
              .cabinet-nav__section-list 
                a(href="#").cabinet-nav__link Корзина
                  span 5
                a(href="#").cabinet-nav__link Избранное
                  span 1
            .cabinet-nav__section 
              .cabinet-nav__section-title Сервис
              .cabinet-nav__section-list 
                a(href="#").cabinet-nav__link Обмен, возврат и ремонт
      .cabinet__content 
        .cabinet-empty.cabinet-section 
          .cabinet-section__head История покупок
          .cabinet-empty__content 
              .cabinet-empty__title Пока нет привязанных организаций
              .cabinet-empty__text Добавьте организацию, чтобы совершать покупки как юрлицо
              button(type="button").cabinet-empty__btn.btn Добавить организацию
